{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_commentator_panel']{% endblock nav_items %}

{% block title %}UI for Commentator {% endblock title %}


{% block javascript %}
{{ super() }}

<script type="text/javascript"> //script from judge panel
var MISSED = -1
var INTERFERENCE = -2

// script for commentator panel // TO DO This script assumes that only one heat is active at a time!
 ////----------------------------////

function activate_commentator_panel(active_heat_id){
    var data_for_table = []; // Global variable, a list of objects that contain the heat data to be displayed in a table
    var number_of_best_waves=2; // Global variable TODO: Get variable from server
    var active_heat_data=[];
    var active_judges ={};
    var active_surfers={};
    var number_of_judges='none';

    $.get('do_get_all_active_heats',function(data)
    {
        active_heat_data = $.parseJSON(data); // this is a global variable, it is an object
        //active_heat_id=active_heat_data[0]['heat_id']; // this is a global variable, it is a number
        active_surfers=active_heat_data[0]['participants'];
        if (Object.keys(active_heat_data[0]['judges']).length==0 || active_surfers['surfer_id'].length==0) // If no judge or no surfer is in the heat
        {
           data_for_table[0]={'surfer_color':'-', 'surfer_name':'No Surfers or no judges registered for heat', 'total_score':'-', 'needs':'-'};
           if( !isNaN(number_of_best_waves) && number_of_best_waves >0) // if number_of_waves is a number greater than zero
           {
                for (var best_waves_index=1; best_waves_index <= number_of_best_waves; best_waves_index++) //TODO number_of_best_waves aus Server holen
                {
                    best_waves_index_string=best_waves_index.toString();
                    data_for_table[surfer_id_index]['best_wave_'+best_waves_index_string]='-';
                }
                // Introduce fields for each wave that has been scored by the judges

                for (var counter_index_waves=1; counter_index_waves <= active_heat_data[0]['number_of_waves']; counter_index_waves++)
                {
                    var counter_index_waves_string = counter_index_waves.toString();
                    data_for_table[surfer_id_index][counter_index_waves_string]='-';
                }
            }
            else // if number_of_waves is not a number or number_of_waves <=0
            {
                    data_for_table[surfer_id_index][1]='No number of waves given or negative number of waves';
            }
        }
        else // If at least one judge and one surfer are registered for the active heat
        {
            for (var judge_id_string in active_heat_data[0]['judges'])
            {
                active_judges[judge_id_string]=active_heat_data[0]['judges'][judge_id_string]['judge_id']; // This is a global variable, an object that contains the active judge ids as numbers
            }
            number_of_judges=Object.keys(active_judges).length;
            for (var surfer_id_index=0; surfer_id_index < active_surfers['surfer_id'].length; surfer_id_index++)
            {
                var surfer_id=active_surfers['surfer_id'][surfer_id_index];
                data_for_table[surfer_id_index]={'surfer_color':'-', 'surfer_name':'-', 'total_score':'-', 'needs':'-'};
                // Introduce fields for the best waves that enter the total score of a surfer
                for (var best_waves_index=1; best_waves_index <= number_of_best_waves; best_waves_index++) //TODO number_of_best_waves aus Server holen
                {
                    best_waves_index_string=best_waves_index.toString();
                    data_for_table[surfer_id_index]['best_wave_'+best_waves_index_string]='-';
                }
                // Introduce fields for each wave that has been scored by the judges

                for (var counter_index_waves=1; counter_index_waves <= active_heat_data[0]['number_of_waves']; counter_index_waves++)
                {
                    var counter_index_waves_string = counter_index_waves.toString();
                    data_for_table[surfer_id_index][counter_index_waves_string]='-';
                }
            }
            var number_of_logged_waves={}; //[judge_id][color]
            var current_scores={}; //current_scores['surfer_id']['judge_id'][wave_no]This is a global variable it is an object filled with objects that contain numbers
            var current_scores_original; // contains current scores with Missed Waves
            var minimum_of_logged_waves={};//minimum_of_logged_waves[color]
            var scores_from_server=[]; // this variable is used to store data from the server that comes from do_query_scores
            var counter=0; // This is the index for the list "data_for_table"
            var top_waves={}; // topwaves{surfer_id}{wave_index =1,2} This variable is needed in the function that finds the best waves of each surfer
            var key_of_best_wave='none'; //This variable is needed in the function that finds the best waves of each surfer)
            var average_scores={};
            var average_scores_no_missed={};
            var leader_id='none'; // ID of the surfer that leads the current heat. It is needed to find the value of the variable "needs"
            var json_for_commentator_table='none'; // Global variable, a string that contains the data for the commentator table in json format. It must be saved to a .txt file
            
            var total_scores={};
            // Create an object that has all scored waves stored in such a way, that the average scores can be calculated easily
            $.get('do_query_scores',{'heat_id':active_heat_id, 'get_for_all_judges':1}, function(data)
            {
                scores_from_server=$.parseJSON(data);
                if (Object.keys(scores_from_server).length=0)
                {
                    Console.log('Waiting for waves to be scored')
                }
                else
                {   
                    // Build empty object current_scores that already has all surfer and judge keys from do_query_scores
                    for (var judge_id_string in scores_from_server)
                    {
                        for (var surfer_color in scores_from_server[judge_id_string])
                        {
                            //find surfer_id
                            var surfer_id='none';
                            for (i=0; i < active_surfers['surfer_color'].length; i++)
                            {
                                if (active_surfers['surfer_color'][i]==surfer_color)
                                {
                                    surfer_id=active_surfers['surfer_id'][i];
                                    var surfer_id_string=surfer_id.toString();
                                }
                            }
                            if(surfer_id_string in current_scores)
                            {
                               // do nothing
                            }
                            else
                            {
                                current_scores[surfer_id_string]={};
                            }
                            current_scores[surfer_id_string][judge_id_string]={};
                        }
                    }
                    // Fill object current_scores with data
                    for (var judge_id_string in scores_from_server)
                    {
                        for (var surfer_color in scores_from_server[judge_id_string])
                        {
                            //find surfer_id
                            var surfer_id='none';
                            for (i=0; i < active_surfers['surfer_color'].length; i++)
                            {
                                if (active_surfers['surfer_color'][i]==surfer_color)
                                {
                                    surfer_id=active_surfers['surfer_id'][i];
                                }
                            }
                            var surfer_id_string=surfer_id.toString();
                            
                            for (var wave_index =0; wave_index < scores_from_server[judge_id_string][surfer_color].length; wave_index++)
                            {
                                var wave_number=wave_index+1;
                                var wave_number_string = wave_number.toString();
                                current_scores[surfer_id_string][judge_id_string][wave_number_string]=scores_from_server[judge_id_string][surfer_color][wave_index];
                                //console.log('Surfer: '+surfer_id_string+' Color:'+surfer_color+' Juge:'+judge_id_string+' Wave: '+wave_number_string+' Score:'+current_scores[surfer_id_string][judge_id_string][wave_number_string]);
                                
                            }
                        }
                        
                    }
                    current_scores_original=current_scores;
 
                    // Count for each surfer the number of waves where a score is available from every judge
                    for(var surfer_id in current_scores)
                    {
                        minimum_of_logged_waves[surfer_id]='none';
                        if(Object.keys(current_scores[surfer_id]).length==Object.keys(active_judges).length) // If every judge has logged at least one wave
                        {
                            for (var judge_id_string in current_scores[surfer_id])
                            {
                                if (minimum_of_logged_waves[surfer_id]='none')
                                {
                                    minimum_of_logged_waves[surfer_id]=Object.keys(current_scores[surfer_id][judge_id_string]).length;
                                }
                                else if (minimum_of_logged_waves[surfer_id] > Object.keys(current_scores[surfer_id][judge_id_string]).length);
                                {
                                    minimum_of_logged_waves[surfer_id]=Object.keys(current_scores[surfer_id][judge_id_string]).length;
                                }
                            }
                        }
                        else // if one or more judges have not logges a single wave for surfer_id
                        {
                            minimum_of_logged_waves[surfer_id]=0
                        }
                    }
                    
                    // build averaged scores leaving out MISSED waves
                    for (var surfer_id in current_scores)
                    {
                            average_scores_no_missed[surfer_id]={};
                            if(minimum_of_logged_waves[surfer_id]!=0)
                            {
                                for (var wave_index=1; wave_index <= minimum_of_logged_waves[surfer_id]; wave_index++)
                                {
                                    var wave_number_string = wave_index.toString();
                                    average_scores_no_missed[surfer_id][wave_number_string]=0;
                                    var average_counter=0;
                                    for (var judge_id in current_scores[surfer_id])
                                    {
                                        if(current_scores[surfer_id][judge_id][wave_number_string]!= MISSED && !isNaN(current_scores[surfer_id][judge_id][wave_number_string])) //
                                        {
                                            average_counter=average_counter+1;
                                            average_scores_no_missed[surfer_id][wave_number_string]=average_scores_no_missed[surfer_id][wave_number_string]+current_scores[surfer_id][judge_id][wave_number_string];
                                        }
                                    }
                                    average_scores_no_missed[surfer_id][wave_number_string]=average_scores_no_missed[surfer_id][wave_number_string]/average_counter;
                                }
                            }
                    }

                    // Substitute MISSED waves by averages
                    for(surfer_id in current_scores)
                    {
                        for(judge_id in current_scores[surfer_id])
                        {
                            for (var wave_index=1; wave_index <= minimum_of_logged_waves[surfer_id]; wave_index++)
                            {
                                if(current_scores[surfer_id][judge_id][wave_index]==MISSED)
                                {
                                    current_scores[surfer_id][judge_id][wave_index]=average_scores_no_missed[surfer_id][wave_number_string];
                                }
                            }
                        }
                    }
                    
                    //Build average scores for each surfer in current_scores and find the best two waves TODO: find best n waves
                    if(number_of_judges<4)
                    {
                        for (var surfer_id in current_scores)
                        {
                            average_scores[surfer_id]={};
                            if(minimum_of_logged_waves[surfer_id]!=0)
                            {
                                for (var wave_index=1; wave_index <= minimum_of_logged_waves[surfer_id]; wave_index++)
                                {
                                    var wave_number_string = wave_index.toString();
                                    average_scores[surfer_id][wave_number_string]=0;
                                    var average_counter=0;
                                    for (var judge_id in current_scores[surfer_id])
                                    {
                                        if(current_scores[surfer_id][judge_id][wave_number_string]!= MISSED && !isNaN(current_scores[surfer_id][judge_id][wave_number_string])) //
                                        {
                                            average_counter=average_counter+1;
                                            average_scores[surfer_id][wave_number_string]=average_scores[surfer_id][wave_number_string]+current_scores[surfer_id][judge_id][wave_number_string];
                                        }
                                    }
                                    average_scores[surfer_id][wave_number_string]=average_scores[surfer_id][wave_number_string]/average_counter;
                                    average_scores[surfer_id][wave_number_string]= Math.round( average_scores[surfer_id][wave_number_string] * 10 ) / 10;
                                }
                            }
                        }
                    }
                    else
                    {
                        for (var surfer_id in current_scores)
                        {
                            
                            average_scores[surfer_id]={};
                            if(minimum_of_logged_waves[surfer_id]!=0)
                            {
                                for (var wave_index=1; wave_index <= minimum_of_logged_waves[surfer_id]; wave_index++)
                                {
                                    var wave_number_string = wave_index.toString();
                                    average_scores[surfer_id][wave_number_string]=0;
                                    var average_counter=0;
                                    
                                    // Find highest and lowest score
                                    var highest_score=0;
                                    var highest_score_judge_id='none';
                                    var lowest_score=11;
                                    var lowest_score_judge_id='none';
                                    for (var judge_id in current_scores[surfer_id])
                                    {
                                        if(highest_score <= current_scores[surfer_id][judge_id][wave_number])
                                        {
                                            highest_score <= current_scores[surfer_id][judge_id][wave_number];
                                            highest_score_judge_id = judge_id;
                                        }
                                        if(lowest_score >= current_scores[surfer_id][judge_id][wave_number])
                                        {
                                            lowest_score <= current_scores[surfer_id][judge_id][wave_number];
                                            lowest_score_judge_id = judge_id;
                                        }
                                    }
                                    
                                    
                                    for (var judge_id in current_scores[surfer_id])
                                    {
                                        if(judge_id != highest_score_judge_id && judge_id != lowest_score_judge_id && !isNaN(current_scores[surfer_id][judge_id][wave_number_string])) //
                                        {
                                            average_counter=average_counter+1;
                                            average_scores[surfer_id][wave_number_string]=average_scores[surfer_id][wave_number_string]+current_scores[surfer_id][judge_id][wave_number_string];
                                        }
                                    }
                                    
                                    average_scores[surfer_id][wave_number_string]=average_scores[surfer_id][wave_number_string]/average_counter;
                                    average_scores[surfer_id][wave_number_string]= Math.round( average_scores[surfer_id][wave_number_string] * 10 ) / 10;
                                }
                                
                            }
                        }    
                    }
                    
                    for(var surfer_id in average_scores)
                    {
                        // find the best 2 waves and write them in data_for_table TODO: Introduce best n waves
                        top_waves[surfer_id]=[];
                        top_waves[surfer_id][0]='-';
                        top_waves[surfer_id][1]='-';
                         var best_wave_index='none';
                        // var number_of_best_waves_available = Math.min(number_of_best_waves,minimum_of_logged_waves[surfer_id]); // Not sure if I need thsi later
                        //// Find the best wave
                        for (var wave_index in average_scores[surfer_id])
                        {
                            if( wave_index=='1')
                            {
                                top_waves[surfer_id][0]=average_scores[surfer_id][wave_index];
                                best_wave_index=wave_index;
                            }
                            else if(top_waves[surfer_id][0]<=average_scores[surfer_id][wave_index])
                            {
                                top_waves[surfer_id][0]=average_scores[surfer_id][wave_index];
                                best_wave_index=wave_index;
                            }
                        }
                        ////Find second-best wave
                        for (wave_index in average_scores[surfer_id])
                        {
                            if(wave_index != best_wave_index)
                            {
                                console.log('JAAA');
                                if(top_waves[surfer_id][1]=='-')
                                {
                                    top_waves[surfer_id][1]=average_scores[surfer_id][wave_index];
                                }
                                else if ( top_waves[surfer_id][1] < average_scores[surfer_id][wave_index])
                                {
                                    top_waves[surfer_id][1]=average_scores[surfer_id][wave_index];
                                }
                            }
                        }
                        //// Caculate total score
                        if(top_waves[surfer_id][1]!='-')
                        {
                            total_scores[surfer_id]=top_waves[surfer_id][0]+top_waves[surfer_id][1];
                            total_scores[surfer_id]= Math.round( total_scores[surfer_id] * 10 ) / 10;
                        }
                        else
                        {
                            total_scores[surfer_id]=top_waves[surfer_id][0];
                            total_scores[surfer_id]= Math.round( total_scores[surfer_id] * 10 ) / 10;
                        }   
                    }
                    
                    // Find current leader
                    for(surfer_id in total_scores)
                    {
                        if(leader_id='none')
                        {
                            leader_id=surfer_id;
                        }
                        else if(total_scores[surfer_id]>total_scores[leader_id] )
                        {
                            leader_id=surfer_id;
                        }

                    }

                    // Calculate the current needs[surfer_id];
                    var needs={};
                    if (leader_id != 'none')
                    {
                        for(var surfer_id in total_scores)
                        {
                            needs[surfer_id]=total_scores[leader_id]-top_waves[surfer_id][0];
                            needs[surfer_id]= Math.round( needs[surfer_id] * 10 ) / 10;
                        }
                    }
                   
                    
                    console.log('active judges:');
                    console.log(active_judges);
                    console.log('active surfers:');
                    console.log(active_surfers);
                    console.log('scores_from_server');
                    console.log(scores_from_server);
                    console.log('current:');
                    console.log(current_scores);
                    console.log('average:');
                    console.log(average_scores);
                    console.log('total:');
                    console.log(total_scores);
                    console.log('top waves:');
                    console.log(top_waves);
                    // Write data from average_scores and top_waves in data for table
                    for (var active_surfers_index=0; active_surfers_index < active_surfers['surfer_id'].length; active_surfers_index++)
                    {
                        var surfer_id=active_surfers['surfer_id'][active_surfers_index];
                        var surfer_id_string=surfer_id.toString();
                        data_for_table[active_surfers_index]['surfer_name']=active_surfers['name'][active_surfers_index]; // TODO THis line works when names is available
                        data_for_table[active_surfers_index]['surfer_color']=active_surfers['surfer_color'][active_surfers_index];
                    }
                    for (var active_surfers_index=0; active_surfers_index < active_surfers['surfer_id'].length; active_surfers_index++)
                    {
                        var surfer_id=active_surfers['surfer_id'][active_surfers_index];
                        var surfer_id_string=surfer_id.toString();
                        if(surfer_id_string in average_scores);
                        {
                            for(var wave_index in average_scores[surfer_id_string])
                            {
                                data_for_table[active_surfers_index][wave_index]=average_scores[surfer_id_string][wave_index];
                            }
                            data_for_table[active_surfers_index]['best_wave_'+'1']=top_waves[surfer_id_string][0];
                            data_for_table[active_surfers_index]['best_wave_'+'2']=top_waves[surfer_id_string][1];
                            data_for_table[active_surfers_index]['total_score']=total_scores[surfer_id_string];
                            data_for_table[active_surfers_index]['needs']=needs[surfer_id_string];
                        }
                        
                    }
                    $('#commentator_table').bootstrapTable();
                    $('#commentator_table').bootstrapTable('load',data_for_table).bootstrapTable('refresh');
                    console.log('data for table:');
                    console.log(data_for_table);
                }
            });
        }
    });
}


</script>


<script>

  $(document).ready(function(){
     refresh_active_heats_dropdown();
  });

 function combine_heat_name(heat_info){
     return 'Tournament <b>' + heat_info['tournament_name'] + '</b>, Category <b>'+ heat_info['category_name'] + '</b>, Heat <b>'+ heat_info['heat_name'] + '</b>'
 }
 function refresh_active_heats_dropdown(){
     // fill dropdown with tournament names
     $.get('/do_get_all_active_heats', function(data){
         var active_heats = JSON.parse(data);

         //active_heats.sort();
         // fill dropdown list with sorted tournament names
         $('#active_heats_dropdown_list').empty();
         for (var i=0; i < active_heats.length; i++){
             $('#active_heats_dropdown_list').append('<li><a class="select" href="#" data-name="' + combine_heat_name(active_heats[i]) + '" data-index=' + active_heats[i]['heat_id'] + '>' + combine_heat_name(active_heats[i]) +'</a></li>');
         };
     });
 };

function toggle_panel(heat_id){
    $('#commentator_panel').empty();
    $.get('/do_get_commentator_panel', {heat_id: heat_id}, function(data){
        if (data != ''){
            $('#commentator_panel').append(data);
            activate_commentator_panel(heat_id);
        }
     });
 }

  $('#active_heats_dropdown_list').on('click', '.select', function(e){
      toggle_panel($(this).data('index'));
      $('#dropdown_label').html($(this).data('name'));
 });
</script>
{% endblock javascript %}

{% block content %}


<div class="dropdown">
    <div class="btn-group">
        <button class="btn btn-md btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="dropdown_label">Choose heat</span>&nbsp;<span class="caret"></span>
        </button>
        <ul id="active_heats_dropdown_list" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdown_label">
        </ul>
    </div>
</div>

<br>

<div id="commentator_panel" class="container-fluid">

</div>

{% endblock content %}
