{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_headjudge_tools']{% endblock nav_items %}

{% block title %}UI for HeadJudge{% endblock title %}


{% block content %}

  <table class="table table-striped"
         id="heats_table"
         data-toggle="table"
         data-url="{{ mount_loc }}/do_get_active_heat_info"
         data-sort-name="name"
         date-sort-order="asc">
      <thead>
          <tr>
              <th data-field="heat_id" data-sortable="true">Heat ID</th>
              <th data-field="heat_name" data-sortable="true">Heat Name</th>
              <th data-field="judge_first_name" data-sortable="true">Judge First Name</th>
              <th data-field="judge_last_name" data-sortable="true">Judge Last Name</th>
              <th data-field="judge_username" data-sortable="true">Judge Username</th>
          </tr>
      </thead>
  </table>
</div>

{% endblock content %}


{% block javascript %}
{{ super() }}
<script>
	$(document).ready(function ()
    {
        //initialize some status
        $.get('do_activate_heat?heat_id=1');
        $.get('do_activate_heat?heat_id=2');
    });
</script>
{% endblock javascript %}
