<div class="panel panel-primary" data-index="{{ tournament_id }}">
    <div class="panel-heading"><h4><b>{{ tournament_name }}</b></h4></div>
    <div class="panel-body">
    {% for category in categories %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ category['name'] }}</div>
            <div class="panel-body">
                {% for heat in heats[category['id']] %}
                <div class="btn btn-default heat_activity_button" id="heat_activity_button_{{ heat['id'] }}"" data-index="{{ heat['id'] }}" data-status="inactive">{{ heat['name'] }}</div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    </div>
</div>
