{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_headjudge']{% endblock nav_items %}

{% block title %}Judge Activities{% endblock title %}

{% block javascript %}
{{ super() }}

<script type="text/javascript"> //script from judge panel
var MISSED = -1
var INTERFERENCE = -2

// script for commentator panel // TO DO This script assumes that only one heat is active at a time!
 ////----------------------------////

function activate_judge_activities_panel(active_heat_id){
    var number_of_best_waves=2; // Global variable TODO: Get variable from server
    var active_heat_data=[];
    var active_judges ={};
    var active_surfers={};
    var number_of_judges='none';
    var color2id={};
    var id2color={};

    $.get('/do_get_active_heat_info', {heat_id: active_heat_id}, function(data)
    {
        active_heat_data = $.parseJSON(data); // this is a global variable, it is an object
        //active_heat_id=active_heat_data[0]['heat_id']; // this is a global variable, it is a number
        active_surfers=active_heat_data['participants'];
        if (Object.keys(active_heat_data['judges']).length > 0 && active_surfers['surfer_id'].length > 0) // If no judge or no surfer is in the heateat
        {
            for (var judge_id_string in active_heat_data['judges'])
            {
                active_judges[judge_id_string] = active_heat_data['judges'][judge_id_string]['judge_id'];
                // This is a global variable, an object that contains the active judge ids as numbers
            }
            number_of_judges = Object.keys(active_judges).length;
            for (var surfer_id_index=0; surfer_id_index < active_surfers['surfer_id'].length; surfer_id_index++)
            {
                var surfer_id = active_surfers['surfer_id'][surfer_id_index];
                var surfer_color = active_surfers['surfer_color'][surfer_id_index];
                id2color[surfer_id] = surfer_color;
                color2id[surfer_color] = surfer_id;
            }
            var number_of_logged_waves={}; //[judge_id][color]
            var current_scores={}; //current_scores['surfer_id']['judge_id'][wave_no]This is a global variable it is an object filled with objects that contain numbers
            var minimum_of_logged_waves={};//minimum_of_logged_waves[color]
            var scores_from_server=[]; // this variable is used to store data from the server that comes from do_query_scores
            var counter=0; // This is the index for the list "data_for_table"
            var top_waves={}; // topwaves{surfer_id}{wave_index =1,2} This variable is needed in the function that finds the best waves of each surfer
            var key_of_best_wave='none'; //This variable is needed in the function that finds the best waves of each surfer)
            var leader_id='none'; // ID of the surfer that leads the current heat. It is needed to find the value of the variable "needs"
            var json_for_commentator_table='none'; // Global variable, a string that contains the data for the commentator table in json format. It must be saved to a .txt file
            var total_scores={};
            // Create an object that has all scored waves stored in such a way, that the average scores can be calculated easily
            $.get('/do_query_scores', {'heat_id':active_heat_id, 'get_for_all_judges':1}, function(data)
            {
                scores_from_server=$.parseJSON(data);
                if (Object.keys(scores_from_server).length == 0)
                {
                    console.log('Waiting for waves to be scored')
                }
                else
                {
                    // Build empty object current_scores that already has all surfer and judge keys from do_query_scores
                    for (var judge_id_string in scores_from_server)
                    {
                        for (var surfer_color in scores_from_server[judge_id_string])
                        {
                            var surfer_id = color2id[surfer_color];
                            if( !(surfer_id in current_scores) )
                                current_scores[surfer_id]={};
                            current_scores[surfer_id][judge_id_string] = {};
                        }
                    }
                    // Fill object current_scores with data
                    for (var judge_id_string in scores_from_server)
                    {
                        for (var surfer_color in scores_from_server[judge_id_string])
                        {
                            var surfer_id = color2id[surfer_color];
                            for (var wave_index = 0; wave_index < scores_from_server[judge_id_string][surfer_color].length; wave_index++)
                            {
                                current_scores[surfer_id][judge_id_string][wave_index + 1] = scores_from_server[judge_id_string][surfer_color][wave_index];
                                var val = current_scores[surfer_id][judge_id_string][wave_index + 1];
                                if (val == MISSED)
                                    val = 'M';
                                var id_of_element_for_score = judge_id_string+'_'+surfer_color+'_'+wave_index;
                                $('#'+id_of_element_for_score).html(val);
                            }
                        }

                    }

                    // Count for each surfer the number of waves where a score is available from every judge
                    for (var surfer_id in current_scores)
                    {
                        minimum_of_logged_waves[surfer_id] = active_heat_data['number_of_waves'];
                        if(Object.keys(current_scores[surfer_id]).length == Object.keys(active_judges).length) // If every judge has logged at least one wave
                        {
                            for (var judge_id_string in current_scores[surfer_id])
                            {
                                if (minimum_of_logged_waves[surfer_id] > Object.keys(current_scores[surfer_id][judge_id_string]).length)
                                {
                                    minimum_of_logged_waves[surfer_id] = Object.keys(current_scores[surfer_id][judge_id_string]).length;
                                }
                            }
                        }
                        else // if one or more judges have not logges a single wave for surfer_id
                        {
                            minimum_of_logged_waves[surfer_id] = 0;
                        }
                    }
                    var average_scores_no_missed={};
                    // build averaged scores leaving out MISSED waves
                    for (var surfer_id in current_scores)
                    {
		        average_scores_no_missed[surfer_id] = {};
			for (var wave_index=1; wave_index <= minimum_of_logged_waves[surfer_id]; wave_index++)
			{
			    average_scores_no_missed[surfer_id][wave_index] = 0;
			    var average_counter = 0;
			    for (var judge_id in current_scores[surfer_id])
			    {
			        if (current_scores[surfer_id][judge_id][wave_index] != MISSED && !isNaN(current_scores[surfer_id][judge_id][wave_index])) //
			        {
			            average_counter += 1;
			            average_scores_no_missed[surfer_id][wave_index] += current_scores[surfer_id][judge_id][wave_index];
			        }
			    }
			    average_scores_no_missed[surfer_id][wave_index] = average_scores_no_missed[surfer_id][wave_index]/average_counter;
			}
                    }

                    // Substitute MISSED waves by averages
                    for (var surfer_id in current_scores)
                    {
                        for (var judge_id in current_scores[surfer_id])
                        {
                            for (var wave_index = 1; wave_index <= minimum_of_logged_waves[surfer_id]; wave_index++)
                            {
                                if(current_scores[surfer_id][judge_id][wave_index] == MISSED || isNaN(current_scores[surfer_id][judge_id][wave_index]))
                                {
                                    current_scores[surfer_id][judge_id][wave_index] = average_scores_no_missed[surfer_id][wave_index];
                                }
                            }
                        }
                    }
                    var average_scores={};
                    //Build average scores for each surfer in current_scores and find the best two waves TODO: find best n waves
                    if (number_of_judges < 5)
                    {
                        for (var surfer_id in current_scores)
                        {
                            average_scores[surfer_id] = {};
                            for (var wave_index = 1; wave_index <= minimum_of_logged_waves[surfer_id]; wave_index++)
                            {
                                average_scores[surfer_id][wave_index] = 0;
                                var average_counter = 0;
                                for (var judge_id in current_scores[surfer_id])
                                {
                                    average_counter += 1;
                                    average_scores[surfer_id][wave_index] += current_scores[surfer_id][judge_id][wave_index];
                                }
                                average_scores[surfer_id][wave_index] = average_scores[surfer_id][wave_index]/average_counter;
                                var id_of_element_for_score='average_'+id2color[surfer_id]+'_'+wave_index;
                                $('#'+id_of_element_for_score).html(Math.round(average_scores[surfer_id][wave_index] * 100) / 100);
                                console.log('average scores');
                                console.log(average_scores);
                            }
                        }
                    }
                    else
                    {
                        for (var surfer_id in current_scores)
                        {
                            average_scores[surfer_id]={};
                            for (var wave_index = 1; wave_index <= minimum_of_logged_waves[surfer_id]; wave_index++)
                            {
                                average_scores[surfer_id][wave_index] = 0;
                                // Find highest and lowest score
                                var highest_score = -1;
                                var highest_score_judge_id = 'none';
                                var lowest_score = 11;
                                var lowest_score_judge_id = 'none';
                                for (var judge_id in current_scores[surfer_id])
                                {
                                    if(highest_score <= current_scores[surfer_id][judge_id][wave_index])
                                    {
                                        highest_score_judge_id = judge_id;
                                        highest_score = current_scores[surfer_id][judge_id][wave_index];
                                    }
                                    if(lowest_score >= current_scores[surfer_id][judge_id][wave_index])
                                    {
                                        lowest_score_judge_id = judge_id;
                                        lowest_score = current_scores[surfer_id][judge_id][wave_index];
                                    }
                                }
                                var average_counter = 0;
                                for (var judge_id in current_scores[surfer_id])
                                {
                                    if (judge_id != highest_score_judge_id && judge_id != lowest_score_judge_id && !isNaN(current_scores[surfer_id][judge_id][wave_index])) //
                                    {
                                        average_counter += 1;
                                        average_scores[surfer_id][wave_index] += current_scores[surfer_id][judge_id][wave_index];
                                    }
                                }
                                average_scores[surfer_id][wave_index] = average_scores[surfer_id][wave_index]/average_counter;
                                var id_of_element_for_score='average_'+id2color[surfer_id]+'_'+wave_index;
                                $('#'+id_of_element_for_score).html(Math.round(average_scores[surfer_id][wave_index] * 100) / 100);
                            }
                        }
                    }

                    for (var id in active_surfers['surfer_id']){
                        var surfer_id = active_surfers['surfer_id'][id];
                        top_waves[surfer_id]=[];
                        top_waves[surfer_id][0]='-';
                        top_waves[surfer_id][1]='-';
                    }
                    for(var surfer_id in average_scores)
                    {
                        var best_wave_index='none';
                        // var number_of_best_waves_available = Math.min(number_of_best_waves,minimum_of_logged_waves[surfer_id]); // Not sure if I need thsi later
                        //// Find the best wave
                        for (var wave_index in average_scores[surfer_id])
                        {
                            if( top_waves[surfer_id][0]=='-')
                            {
                                top_waves[surfer_id][0]=average_scores[surfer_id][wave_index];
                                best_wave_index=wave_index;
                            }
                            else if(top_waves[surfer_id][0] < average_scores[surfer_id][wave_index])
                            {
                                top_waves[surfer_id][0]=average_scores[surfer_id][wave_index];
                                best_wave_index=wave_index;
                            }
                        }
                        ////Find second-best wave
                        for (wave_index in average_scores[surfer_id])
                        {
                            if(wave_index != best_wave_index)
                            {
                                if(top_waves[surfer_id][1]=='-')
                                {
                                    top_waves[surfer_id][1]=average_scores[surfer_id][wave_index];
                                }
                                else if ( top_waves[surfer_id][1] < average_scores[surfer_id][wave_index])
                                {
                                    top_waves[surfer_id][1]=average_scores[surfer_id][wave_index];
                                }
                            }
                        }
                    }
                }
            });
        }
    });
}


</script>


<script>

  $(document).ready(function(){
     refresh_active_heats_dropdown();
  });

 function combine_heat_name(heat_info){
     return 'Tournament <b>' + heat_info['tournament_name'] + '</b>, Category <b>'+ heat_info['category_name'] + '</b>, Heat <b>'+ heat_info['heat_name'] + '</b>'
 }
 function refresh_active_heats_dropdown(){
     // fill dropdown with tournament names
     $.get('/do_get_all_active_heats', function(data){
         var active_heats = JSON.parse(data);

         //active_heats.sort();
         // fill dropdown list with sorted tournament names
         $('#active_heats_dropdown_list').empty();
         for (var i=0; i < active_heats.length; i++){
             $('#active_heats_dropdown_list').append('<li><a class="select" href="#" data-name="' + combine_heat_name(active_heats[i]) + '" data-index=' + active_heats[i]['heat_id'] + '>' + combine_heat_name(active_heats[i]) +'</a></li>');
         };
     });
 };

function toggle_panel(){
    var heat_id = $('#judge_activities_panel').data('heat_id');
    $('#judge_activities_panel').empty();
    $.get('do_get_judge_activities_panel', {heat_id: heat_id}, function(data){
        if (data != ''){
            $('#judge_activities_panel').append(data);
            activate_judge_activities_panel(heat_id);
        }
     });
 }

 $('#active_heats_dropdown_list').on('click', '.select', function(e){
     $('#judge_activities_panel').data('heat_id', $(this).data('index'));
      toggle_panel();
      setInterval(toggle_panel, 20000);
      $('#dropdown_label').html($(this).data('name'));
 });
</script>
{% endblock javascript %}

{% block content %}


<div class="dropdown">
    <div class="btn-group">
        <button class="btn btn-md btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="dropdown_label">Choose heat</span>&nbsp;<span class="caret"></span>
        </button>
        <ul id="active_heats_dropdown_list" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdown_label">
        </ul>
    </div>
</div>

<br>

<div id="judge_activities_panel" class="container-fluid">

</div>

{% endblock content %}
