{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_headjudge_judge_activities']{% endblock nav_items %}

{% block title %}UI for Judges{% endblock title %}



{% block content %}
<div class="container-fluid"">
    <table class= "table table-bordered">
        <tr>
            <th><b>Wave</b></th>
            <th><b>Judge</b></th>
            {% for wave_idx in range( number_of_waves ) %}
            <td align="center" colspan="2">
                <b>{{ loop.index }}</b>
            </td>
            {% endfor %}
        </tr>

    {% for surfer_color in surfer_color_names %}
        <tr>
            <td rowspan="2">
                <button class="btn btn-default btn-lg btn-block" style="background-color: {{ surfer_color_colors[surfer_color] }}; border-color: #000000" onclick="set_input_field( '{{ surfer_color }}' )" id="{{ surfer_color }}_enter"><b>{{ surfer_color }}</b></button>
            </td>
            {% for wave_idx in range( number_of_waves ) %}
            <td vertical-align="middle" rowspan="2">
                4.6
            </td>
            <td contenteditable="true">
                5.3
            </td>
            {% endfor %}
        </tr>
        <tr>

            {% for wave_idx in range( number_of_waves ) %}
            <td>
                2.9
            </td>
        {% endfor %}
        </tr>

        </tr>
        {% endfor %}
    </table>


    {% for surfer_color in surfer_color_names %}
    <table class="table">
        <tr>
            <td>
                <button class="btn btn-default btn-lg btn-block" style="background-color: {{ surfer_color_colors[surfer_color] }}; border-color: #000000" onclick="set_input_field( '{{ surfer_color }}' )" id="{{ surfer_color }}_enter"><b>{{ surfer_color }}</b></button>
            </td>
            <td>
                <table class="table">
                    <tr>
                    <td style="background-color: {{ surfer_color_colors[surfer_color] }}"><b>Wave</b></td>

                        {% for wave_idx in range( number_of_waves ) %}
                    <td align="center" style="background-color: {{ surfer_color_colors[surfer_color] }}">
                            <b>{{ loop.index }}</b>
                        </td>
                        {% endfor %}
                    </tr>
                    {% for judge_id in range(4) %}
                    <tr>
                        <td>Judge Name</td>
                        {% for wave_idx in range( number_of_waves ) %}
                        <td>
                            judge: {{ judge_id}}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
    {% endfor %}



</div>
{% endblock content %}
