{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_headjudge']{% endblock nav_items %}

{% block title %}UI for HeadJudge{% endblock title %}


{% block content %}


<div class="dropdown">
    <div class="btn-group">
        <button id="dropdown_label" class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add tournament <span class="caret"></span>
        </button>
        <ul id="tournaments_dropdown_list" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdown_label">
        </ul>
    </div>
</div>



<div id="activity_panels" class="container-fluid">
    {% for panel in panels %}
    {{ panel }}
    {% endfor %}
</div>

{% endblock content %}


{% block javascript %}
{{ super() }}
<script>
 // ***** DROPDOWN *****
 $(document).ready(function(){
     refresh_tournaments_dropdown();
 });


 function add_panel(tournament_id){
     $.get('{{ mount_loc }}/get_tournament_activity_panel', {tournament_id: tournament_id}, function(data){
         $('#activity_panels').append(data);
         $('#tournaments_dropdown_list .dropdown_'+tournament_id).remove();
     });
 }

 function refresh_tournaments_dropdown(){
     // fill dropdown with tournament names
     $.get('/tournament_admin/do_get_tournaments', function(data){
         var tournaments = JSON.parse(data);
         // sort
         function comp_func(a,b){
             return (b['start_datetime'] < a['start_datetime']) ? 1 : -1;
         }

         tournaments.sort(comp_func);
         // fill dropdown list with sorted tournament names
         $('#tournaments_dropdown_list').empty();
         for (i in tournaments){
             $('#tournaments_dropdown_list').append('<li class="dropdown_' + tournaments[i]['id'] + '" ><a class="select" href="#" data-name="' + tournaments[i]['name'] + '" data-index=' + tournaments[i]['id'] + '>' + tournaments[i]['name'] + '</a></li>');
         };

         // remove already active panels from dropdown
         $('#activity_panels > .panel').each(function(index, value){
             $('#tournaments_dropdown_list .dropdown_'+$(value).data('index')).remove();
         });
     });
 };

 $('#tournaments_dropdown_list').on('click', '.select', function(e){
     add_panel($(this).data('index'));
 });
</script>

<script>

 function activate(elem){
     elem.addClass('btn-success');
     elem.removeClass('btn-default');
     elem.data('status', 'active');
     $.get('{{ mount_loc }}/do_activate_heat', {heat_id: elem.data('index')});
 };
 function deactivate(elem){
     elem.addClass('btn-default');
     elem.removeClass('btn-success');
     elem.data('status', 'inactive');
     $.get('{{ mount_loc }}/do_deactivate_heat', {heat_id: elem.data('index')});
 };

 $('#activity_panels').on('click', '.heat_activity_button', function(e){
     if ($(this).data('status') === 'inactive')
         activate($(this));
     else
         deactivate($(this));
 });
</script>

<script>
 $(document).ready(function(){
     refresh_activity();
 });

 function refresh_activity(){
     $.get('/do_get_all_active_heats', function(data){
         var active_heats = JSON.parse(data);
         $('.heat_activity_button').addClass('btn-default');
         $('.heat_activity_button').removeClass('btn-success');
         $('.heat_activity_button').data('status', 'inactive');
         for (id in active_heats){
             var button_id = '#heat_activity_button_'+active_heats[id]['heat_id'];
             $(button_id).addClass('btn-success');
             $(button_id).removeClass('btn-default');
             $(button_id).data('status', 'active');
         }
     });
 };
</script>
{% endblock javascript %}
