<button class="btn btn-standard pull-right" onclick="activate_commentator_panel({{ heat_id }});"><span class="glyphicon glyphicon-refresh">&nbsp;</span>Update</button> <!-- This button reloads the page from server-->

<br><br>
<table class="table table-striped"
       id="commentator_table"
       data-toggle="table"
       data-sort-name="total_score"
       data-sort-order="desc">
    <thead>
        <tr>
            <th data-field="surfer_color">Color</th>
            <th data-field="surfer_name">Name</th>
            <th data-field="total_score" data-sortable="true">Score</th>
            <th data-field="needs" >Needs</th>
            <th data-field="best_wave_1" >1st Wave</th>  <!--TODO extend to n waves-->
            <th data-field="best_wave_2" >2nd Wave</th> <!--TODO extend to n waves-->
            {% for wave_idx in range(  number_of_waves ) %}
                <th data-field="{{wave_idx}}" >{{wave_idx+1}}</th>
            {% endfor %}
        </tr>
    </thead>
</table>
