{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_commentator_panel']{% endblock nav_items %}

{% block title %}Commentator Panel{% endblock title %}


{% block javascript %}
{{ super() }}
<script>
$(document).ready(function(e){
    $('.commentator_table').each(function(elem){elem.bootstrapTable();});
});
</script>
{% endblock javascript %}

{% block content %}

{% for heat_id in heats %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4><b> {{ heats[heat_id]['heat_name'] }} in {{ heats[heat_id]['category_name'] }}</b>
        <button class="btn btn-default pull-right" onclick="$('#{{ heat_id }}').bootstrapTable('refresh');"><span class="glyphicon glyphicon-refresh"></span></button></h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped commentator_panel"
               id="{{ heat_id }}"
               data-url="/do_get_average_scores?heat_id={{ heats[heat_id]['heat_id'] }}"
               data-toggle="table"
               data-sort-name="total_score"
               data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="surfer_color">Color</th>
                    <th data-field="surfer_name">Name</th>
                    <th data-field="total_score" data-sortable="true">Score</th>
                    <th data-field="needs" >Needs</th>
                    <th data-field="best_wave_1" >1st Wave</th>  <!--TODO extend to n waves-->
                    <th data-field="best_wave_2" >2nd Wave</th> <!--TODO extend to n waves-->
                    {% for wave_idx in range(  heats[heat_id]['number_of_waves'] ) %}
                    <th data-field="{{wave_idx+1}}" >{{wave_idx+1}}</th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endfor%}

{% endblock content %}
