{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_commentator_panel']{% endblock nav_items %} 

{% block title %}UI for Commentator {% endblock title %}


{% block javascript %}
{{ super() }}

<script type="text/javascript"> //script from judge panel
var MISSED = -1
var INTERFERENCE = -2

//Variables that need to be defined by Contest Operators*****
var max_no_of_waves={{ number_of_waves }};
var surfer_colors_hex={{ surfer_color_colors }};
var surfer_color_names = {{ surfer_color_names }};


// script for commentator panel // TO DO This script assumes that only one heat is active at a time!
////------Global Variables------////
var data_for_table = []; // Global variable, a list of objects that contain the heat data to be displayed in a table
var number_of_best_waves=2; // Global variable TODO: Get variable from server
var active_heat_id='none';
var active_heat_data=[];
var active_judges ={};
var active_surfers={};
var test_var=0;
////----------------------------////
function create_data_for_table()
{
    $.get('do_get_all_active_heats',function(data)
    {  
        active_heat_data = $.parseJSON(data); // this is a global variable, it is an object
        active_heat_id=active_heat_data[0]['heat_id']; // this is a global variable, it is a number
        active_judges={}; // global variable it is an object with numbers
        for (var judge_id_index in active_heat_data[0]['judges'])
        {
            active_judges[judge_id_index]=active_heat_data[0]['judges'][judge_id_index]['judge_id']; // This is a global variable, an object that contains the active judge ids as numbers
        }
        active_surfers=active_heat_data[0]['participants'];
        test_var=1;
    });
    console.log(test_var);
   
    for (var surfer_id_index in active_surfers['surfer_ids'])
    {
        var surfer_id=active_surfers['surfer_ids'][surfer_id_index];
        data_for_table[surfer_id_index]={'surfer_color':'-', 'surfer_name':'-', 'total_score':'-', 'needs':'-'};
        // Introduce fields for the best waves that enter the total score of a surfer
        for (var best_waves_index=1; best_waves_index < number_of_best_waves; best_waves_index++) //TODO number_of_best_waves aus Server holen
        {
            best_waves_index_string=best_waves_index.toString();
            data_for_table[surfer_id_index]['best_wave_'+best_waves_index_string]='-';
        }
        
        // Introduce fields for each wave that has been scored by the judges
        for (var counter_index_waves=1; counter_index_waves < active_heat_data[0]['number_of_waves']; counter_index_waves++) 
        {        
            var counter_index_waves_string = counter_index_waves.toString();
            data_for_table[surfer_id_index][counter_index_waves_string]='-';
        }
    }


    var number_of_logged_waves={}; //[judge_id][color]
    var current_scores={}; //current_scores['surfer_id']['judge_id'][wave_no]This is a global variable it is an object filled with objects that contain numbers 
    var minimum_of_logged_waves={};  
    var data_from_server=[]; // this variable is used to store data from the server that comes from do_query_scores
    var counter=0; // This is the index for the list "data_for_table"
    var top_waves={}; // topwaves{surfer_id}{wave_index =1,2} This variable is needed in the function that finds the best waves of each surfer
    var key_of_best_wave='none'; //This variable is needed in the function that finds the best waves of each surfer)
    var average_scores={};
    var leader_id='none'; // ID of the surfer that leads the current heat. It is needed to find the value of the variable "needs"
    var json_for_commentator_table='none'; // Global variable, a string that contains the data for the commentator table in json format. It must be saved to a .txt file
    
    for (var surfer_id_index in active_surfers['surfer_ids'])
    {
        var surfer_id=active_surfers['surfer_ids'][surfer_id_index]; // surfer_id is an integer number
        var surfer_id_string=surfer_id.toString();
        // Create an object that has all scored waves stored in such a way, that the average scores can be calculated easily
        for (var judge_id_string in active_judges)
        {
            var judge_id= active_judges[judge_id_string]; // judge_id is an integer
            $.get('do_query_scores',{'heat_id':active_heat_id, 'judge_id':judge_id}, function(data)
            {
                data_from_server=$.ParseJSON(data);
                current_scores[surfer_id_string] ={};             
                current_scores[surfer_id_string][judge_id_string]={};
            });
        }
    }
    
    // Fill object current_scores with data
    for (var counter_index_json=0; counter_index_json < data_from_server.length; counter_index_json++)
                {
                    var surfer_id= data_from_server[counter_index_json]['surfer_id'];
                    var surfer_id_string=surfer_id.toString();
                    var judge_id = data_from_server[counter_index_json]['judge_id'];
                    var judge_id_string= judge_id.toString();
                    var wave_number = data_from_server[counter_index_json]['wave'];
                    var wave_number_string = wave_number.toString();
                    current_scores[surfer_id_string][judge_id_string][wave_number_string]=data_from_server[counter_index_json]['score']
                }
    // Count for each surfer the number of waves where a score is available from every judge
    for (var surfer_id in current_scores)
    {
        minimum_of_logged_waves[surfer_id]='none';
        for (var judge_id in current_scores[surfer_id])
        {
            if (minimum_of_logged_waves='none')
            {
                minimum_of_logged_waves=Object.keys(current_scores[surfer_id][judge_id].length);
            }
            else if (minimum_of_logged_waves[surfer_id] > Object.keys(current_scores[surfer_id][judge_id]).length)
            {
                minimum_of_logged_waves[surfer_id]=Object.keys(current_scores[surfer_id][judge_id]).length;
            }
        }
    }
    
   //~~~~~~~~~~~~~~~~ Build average scores for each surfer and find the best two waves TODO: find best n waves
   for (var surfer_id in current_scores)
    {
        average_scores[surfer_id]={};
        var average_counter=0;
        for (var wave_index=1; wave_index <= minimum_of_logged_waves[surfer_id]; wave_index++)
        {
            var wave_number_string = wave_index.toString();
            average_scores[surfer_id][wave_number_string]=0;
            for (var judge_id in current_scores[surfer_id])
            {
                if(current_scores[surfer_id][judge_id][wave_number_string]!= MISSED && !isNaN(current_scores[surfer_id][judge_id][wave_number_string]))
                {
                    average_counter=average_counter+1;
                    average_scores[surfer_id][wave_number_string]=average_scores[surfer_id][wave_number_string]+current_scores[surfer_id][judge_id][wave_number_string];
                }  
            }
            average_scores[surfer_id][wave_number_string]=average_scores[surfer_id][wave_number_string]/average_counter;
        }
        
        // find the best 2 waves and write them in data_for_table TODO: Introduce best n waves
        top_waves[surfer_id]=[];
        top_waves[surfer_id][0]=0;
        top_waves[surfer_id][1]=0;
        // var number_of_best_waves_available = Math.min(number_of_best_waves,minimum_of_logged_waves[surfer_id]); // Not sure if I need thsi later
        
        //// Find the best wave    
        for (var wave_index in average_scores[surfer_id])
        {
            if(top_waves[surfer_id][0]<average_scores[surfer_id][wave_index])
            {
                top_waves[surfer_id][0]=average_scores[surfer_id][wave_index];
                best_wave_index=wave_index;
            }
        }
        ////Find second-best wave
        for (wave_index in average_scores[surfer_id])
        {
            if(wave_index != key_of_best_wave && top_waves[surfer_id][1]< average_scores[surfer_id][wave_index])
            {
                top_waves[surfer_id][1]=average_scores[surfer_id][wave_index];
            }
        }
    }
    // Find current leader
    for(surfer_id in top_waves)
    {
        if(leader_id='none')
        {
            leader_id=surfer_id;
        }
        else if(topwaves[surfer_id][0]+topwaves[surfer_id][1] > topwaves[leader_id][0]+topwaves[leader_id][1] )
        {
            leader_id=surfer_id;
        }
        
    }
    
    // Calculate the current needs[surfer_id];
    for(var surfer_id in average_scores)
    {
        needs[surfer_id]=topwaves[leader][0]+topwaves[leader_id][1]-top_waves[surfer_id][0];
    }
    
    // Write data from average_scores and top_waves in data for table  
    for (var active_surfers_index in active_surfers)
    {
        var surfer_id=active_surfers['surfer_ids'][active_surfers_index];
        var surfer_id_string=surfer_id.toString();
        data_for_table[active_surfers_index]['surfer_name']=active_surfers['surfer_names'][active_surfers_index];
        data_for_table[active_surfers_index]['surfer_color']=active_surfers['surfer_colors'][active_surfers_index];
        data_for_table[active_surfers_index]['best_wave_'+'1']=top_waves[surfer_id_string][0];
        data_for_table[active_surfers_index]['best_wave_'+'2']=top_waves[surfer_id_string][1];
        data_for_table[active_surfers_index]['total_score']=top_waves[surfer_id_string][0]+top_waves[surfer_id_string][1];
        data_for_table[active_surfers_index]['needs']=needs_[surfer_id_string];
        for(var wave_index in average_scores[surfer_id])
        {
            data_for_table[active_surfers_index][wave_index]=average_scores[surfer_id][wave_index];
            console.log(data_for_table);
        }      
    }
    json_for_commentator_table=JSON.stringify(data_for_table);
    
}
</script>

<script> // script with function for loaded document
	$(document).ready(function()
    {
        create_data_for_table();
        $('#commentator_table').bootstrapTable('load',data_for_table);
    });
</script>
{% endblock javascript %}

{% block css %}
{{ super()}}
<style type="text/css">
</style>
{% endblock css %}


{% block content %}
<div class="container-fluid" id="display_this_if_some_heat_active" style="display:none">
    <div class="col-md-8">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Selected Category:</span>
            <span id="active_heat"></span>
        </div>
    </div>
    
<table class="table table-striped"
       id="commentator_table"
       data-toggle="table"
       data-sort-name="total_score"
       date-sort-order="asc">
    <thead>
        <tr>
            <th data-field="surfer_color" data-sortable="true">Color</th>
            <th data-field="surfer_name">Name</th>
            <th data-field="total_score" data-sortable="true">Total Score</th>
            <th data-field="needs" data-sortable="true">Needs</th>
            <th data-field="best_wave_1" data-sortable="true">Best Wave</th>  <!--TODO extend to n waves-->
            <th data-field="best_wave_2" data-sortable="true">2nd-best Wave</th> <!--TODO extend to n waves-->
            {% for wave_idx in range(  number_of_waves ) %}
                <th data-field="{{wave_idx}}" data-sortable="true">{{wave_idx}}</th>    
            {% endfor %}
        </tr>
    </thead>
</table>
<br />
<div class="btn-toolbar" role="toolbar">
<button class="enter_button" onclick="location.reload(true);">Update</button> <!-- This button reloads the page from server-->
</div>
{% endblock content %}
