{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_commentator_panel']{% endblock nav_items %} 

{% block title %}UI for Commentator {% endblock title %}


{% block javascript %}
{{ super() }}

<script type="text/javascript"> //script from judge panel
var MISSED = -1
var INTERFERENCE = -2

//Variables that need to be defined by Contest Operators*****
var max_no_of_waves={{ number_of_waves }};
var surfer_colors_hex={{ surfer_color_colors }};
var current_surfer="none";

//Variables	that are needed to run the script, using variables from contest operator as parameters
var current_input_field="none"; //This variables is a state variable telling the key board where to write input
var surfer_scores={};// This variable contains for each surfer an array with his scored waves

// Initialize colors in surfer_scores from jinja template
var surfer_color_names = {{ surfer_color_names }};
for (var surfer_color_idx = 0; surfer_color_idx < surfer_color_names.length; surfer_color_idx++)
{
    surfer_scores[surfer_color_names[surfer_color_idx]] = [];
}

function sync_with_server()
{
    $.get('do_query_scores', function(data){
        var server_data = $.parseJSON(data); //server_data is a javascript object
        for (var color in surfer_scores)
        {
            var server_data_length=0;
            if (color in server_data)
            {
                server_data_length=server_data[color].length;
                for (var wave_index=0; wave_index < server_data[color].length; wave_index++)
                {
                    surfer_scores[color][wave_index] = server_data[color][wave_index];
                }
            }
            if (surfer_scores[color].length > server_data_length)
            {
                for (var wave_index=server_data_length; wave_index < surfer_scores[color].length; wave_index++)
                {
                    console.log('Versuche Upload');
                    var upload_data = {'color':color, 'score':surfer_scores[color][wave_index], 'wave':wave_index };
                    var jsonyfied_upload_data= JSON.stringify(upload_data); //Transform object into JSON
                    var data_to_be_uploaded = {'score':jsonyfied_upload_data};
                    $.post('do_insert_score',data_to_be_uploaded,function(data){console.log('upload the data'+data+'successfully')});
                }
            }
        }
    });
}

// script for commentator panel // TO DO This script assumes that only one heat is active at a time!

function get_active_judges()    
// This function returns a list with the IDs of the judges that are in the active heat. The IDs are integers
// It also  global variables: active_heat_data and active_heat_id and active_judges
{
    $.get('do_get_active_heat_info', function(data)
    {  
        active_heat_data = $.parseJSON(data); // this is a global variable, it is an object
        active_heat_id=active_heat_data[0]['heat_id']; // this is a global variable, it is a number
        active_judges={}; // this is a global variable, it is an object with numbers
        for (var judge_id_index in active_heat_data[0]['judges'])
        {
            active_judges[judge_id_index]=active_heat_data[0]['judges'][judge_id_index]['judge_id']; // This is a global variable, an object that contains the active judge ids as numbers
        }
    });
}

function build_average_scores()
{
    number_of_logged_waves={}; //[judge_id][color]
    current_scores={}; //current_scores['surfer_id']['judege_id'][wave_no]This is a global variable it is an object filled with objects that contain numbers 
    minimum_of_logged_waves={};  
    data_from_server=[]; // this variable is used to store data from the server within this function
    var counter=0; // This is the index for the list "data_for_table"
    
    // Build empty list of objects for the score-table:
    data_for_table = [];
    
    for (var surfer_id_index in surfer_color_obj)
    {
        data_for_table[counter] ={'color':'none', 'first_name':'none', 'last_name':'none','total_score'='none', 'needs/leads by':'none'};
        // Introduce fields for the best waves that enter the total score of a surfer
        for (var best_waves_index; best_waves_index < number_of_best_waves; best_waves_index++) //TODO number_of_best_waves aus Server holen
        {
            best_waves_index_string=best_waves_index.toString();
            data_for_table[counter]['Best Wave '+best_waves_index_string]='-';
        }
        
        // Introduce fields for each wave that has been scored by the judges
        for (var counter_index_waves=0; counter_index_waves < max_no_of_waves; counter_index_waves++) 
        {        
            var counter_index_waves_string = counter_index_waves.toString();
            data_for_table[counter][counter_index_waves_string]='-';
        }
        
        // Create an object that has all scored stored in such a way, that the average scores can be calculated easily
        for (var judge_id_index in active_judges)
        {
            var judge_id= active_judges[judge_id_index]
            $.get('do_query_scores',{'heat_id':active_heat_id, 'judge_id':judge_id_index}, function(data) // TODO und DARIO_FRAGEN: wie uebergebe ich Parameter? Muss JUdge index und heat id ein Integer oder ein String sein?
            {
                data_from_server=$.ParseJSON(data);
                current_scores[surfer_id_index] ={};             
                current_scores[surfer_id_index][judge_id_index]={};
            }
        }
        counter=counter+1;
    }
    // Fill object current scores with data
    for (var counter_index_json; counter_index_json < data_from_server.length; counter_index_json++)
                {
                    var surfer_id= data_from_server<[counter_index_json]['surfer_id'];
                    var surfer_id_string=surfer_id.toString();
                    var judge_id = data_from_server[counter_index_json]['judge_id'];
                    var judge_id_string= judge_id.toString();
                    var wave_number = data_from_server[counter_index_json]['wave_no'];
                    var wave_number_string = wave_number.toString();
                    current_scores[surfer_id_string][judge_id_string][wave_number_string]=data_from_server[counter_index_json]['score']
                }
    // Count how many waves have been scored for each surfer by all judges
    for (var surfer_id_index in current_scores)
    {
        for (var judge_id_index in current_scores[surfer_id_index])
        {
            minimum_of_logged_waves={};
            minimum_of_logged_waves{surfer_id}=0;
            if (minimum_of_logged_waves[surfer_id_index] > Object.keys(current_scores[surfer_id_index][judge_id]).length)
            {
                minimum_of_logged_waves[surfer_id_index]=Object.keys(current_scores[surfer_id_index][judge_id]).length;
            }   
        }
    }
    
    // Build average scores for each surfer
   var average_scores={};
   for (var surfer_id_index in current_scores)
    {
        average_scores[surfer_id_index]={};
        var average_counter=0;
        for (var wave_index; wave_index < minimum_of_logged_waves[surfer_id_index]; wave_index++)
        {
            average_scores[surfer_id_index][wave_number_string]=0;
            for (var judge_id_index in active_judges)
            {
                var wave_index_string = wave_index.toString();
                if(current_scores[surfer_id_index][judge_id_index][wave_index_string]!= MISSED)
                {
                    average_counter=average_counter+1;
                    average_scores[surfer_id_index][wave_number_string]=average_scores[surfer_id_index][wave_number_string]+current_scores[surfer_id_index][judge_id_index][wave_number_string]
                }
                
            }
            average_scores[surfer_id_index][wave_number_string]=average_scores[surfer_id_index][wave_number_string]/average_counter;
        }
    }
    
    // Write data from average_scores in data for table
    counter=0;
    var top_waves=[];
    for (var surfer_id_index in surfer_color_obj)
    {
        var number_of_best_waves_available = Math.min(number_of_best_waves,minimum_of_logged_waves[surfer_id_index]);
        for(var wave_index in average_scores[surfer_id_index])
        {
            data_for_table[counter]['first_name']= // TODO function(surfer_id_index)
            data_for_table[counter]['last_name']= // TODO  function(surfer_id_index)
            data_for_table[counter]['color']=surfer_color_obj[surfer_id_index]
            data_for_table[counter][wave_index]=average_scores[surfer_id_index][wave_index]
        }
        // find the best n waves and write them in data_for_table
        
        for(var best_waves_index=0; best_waves_index < number_of_best_waves_available-1)
        {
            for (var waves_index=1; waves_index<=minimum_of_logged_waves[surfer_id_index])
                {
                    for (backwards_counter=0; backwards_counter <= best_waves_index)
                    {
                        
                    }
                }            
           // top_waves[best_waves_index]=0;
        }
        
    }
    
    
}
</script>

<script> // script with function for loaded document
	$(document).ready(function()
    {
        sync_with_server();
        make_buttons_quadratic();
        $(window).resize(make_buttons_quadratic);
        $.get('do_get_active_heat_info', function(server_data){
            var data = $.parseJSON(server_data);
            $('#active_heat').html('Tournament: ' + data['tournament_name'] + ' Event: ' + data['event_name'] + ' Heat: ' + data['heat_name']);
        });
        setInterval(toggle_visibility, 5000);
        get_active_judges();
    });
</script>
{% endblock javascript %}

{% block css %}
{{ super()}}
<style type="text/css">
.main_panel
{
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	padding:20px;
}

.number_button
{
	width:70px;
	height:70px;
	margin:10px;
	float:left;
	background-color:#AAAAAA;

	font-size:36px;
	text-align:center;
}

.text_box_inactive
{
	width:50px;
	height:30px;
	font-size:24px;
	text-align:right;
}

.enter_wave
{
	width:100px;
	height:30px;
	font-size:14px;
	text-align:left;
	background-color:#AAAAAA;
	border-style: solid;
    border-width: 0px;
}

.cancel_button
{
	width:140px;
	height:70px;
	margin:10px;
	float:left;
	background-color:#AAAAAA;

	font-size:25px;
	text-align:center;
}

.enter_button
{
	width:140px;
	height:70px;
	margin:10px;
	float:left;
	background-color:#AAAAAA;

	font-size:25px;
	text-align:center;
}
</style>
{% endblock css %}


{% block content %}
<div class="container-fluid" id="display_this_if_no_heat_active">
    <div class="jumbotron"><h1>No Heat running for you!</h1></div>
</div>
<div class="container-fluid" id="display_this_if_some_heat_active" style="display:none">
    <div class="col-md-8">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Selected Category:</span>
            <span id="active_heat"></span>
        </div>
    </div>
  <table class="table">
    {% for surfer_color in surfer_color_names %}
    <tr>
        <td>
            <button class="btn btn-default btn-lg btn-block" style="background-color: {{ surfer_color_colors[surfer_color] }}; border-color: #000000" onclick="set_input_field( '{{ surfer_color }}' )" id="{{ surfer_color }}_enter">{{ surfer_color }}</button>
        </td>
        <td>
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                            {% for wave_idx in range(  number_of_waves ) %}
                            <input class="form-control" style="width: 10%" type="text" id="{{ surfer_color }}_{{wave_idx}}" readonly />
                            {% endfor %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <br />
    {% endfor %}
</table>
<br />


<br /><br />
<div class="btn-toolbar" role="toolbar">
    {% for number_index in range(10) %}
    <button class="btn btn-default btn-lg quadratic" style="width: 8.5%" onclick="number_write({{ number_index }});">{{number_index}}</button>
    {% endfor %}
</div>
<br /><br />
<div class="btn-toolbar" role="toolbar">
    <button class="btn btn-danger btn-lg" style="width: 31%; height: 100px" onclick="number_write(-1);">Missed</button>
    <button class="btn btn-danger btn-lg" style="width: 31%; height: 100px" onclick="number_write(-2);">Interf.</button>
    <button class="btn btn-info btn-lg" style="width: 31%; height: 100px" onclick="number_clear();">Del</button>
    <button class="btn btn-success btn-lg" style="width: 31%; height: 100px" onclick="enter_score();">ENTER</button>
    <button class="btn btn-danger btn-lg" style="width: 31%; height: 100px" onclick="cancel();">Cancel</button>
</div>
<!--<button class="enter_button" onclick="update_fields();">Update</button> -->
</div>
{% endblock content %}
