{% extends "base_dashboard.html" %}

{% block nav_items %}['#nav_item_judge_tools', '#sidebar_item_judge_panel']{% endblock nav_items %}

{% block title %}UI for Judges{% endblock title %}


{% block javascript %}
{{ super() }}

<script type="text/javascript">
//Variables that need to be defined by Contest Operators*****
	var max_no_of_waves={{ number_of_waves }};
	var surfer_colors={{ surfer_color_names }};
    var surfer_colors_hex={{ surfer_color_colors }};
	var current_surfer=NaN;
	
//Variables	that are needed to run the script, using variables from contest operator as parameters
	var current_input_field="none"; //This variables is a state variable telling the key board where to write input
	var surfer_scores=[[1.2, 5.4, 3],[2,5]];// This variable contains for each surfer an array with his scored waves
		
function transform_score_index_to_field_id(surfer_color_index,surfer_score_index)
{
	return surfer_colors[surfer_color_index] + "_" + surfer_score_index;
}

function mark_field_as_best(field_id)
{
		document.getElementById(field_id).style.backgroundColor = "#DDDDF1";
		//document.getElementById(field_id).style.border = "solid black 2px";
}

function mark_field_as_active(field_id)
{
	document.getElementById(field_id).style.backgroundColor = surfer_colors_hex[current_surfer];
	// document.getElementById(field_id).style.border = "solid black 2px";
}

function mark_field_as_inactive(field_id)
{
	document.getElementById(field_id).style.backgroundColor = "#FFFFFF";
	document.getElementById(field_id).style.border = "solid black 1px";
}
function mark_best_field_of_surfer(surfer_color_index)
{
	var best_score=0;
	var best_score_id="none";
	for (surfer_score_index = 0; surfer_score_index < surfer_scores[surfer_color_index].length; surfer_score_index++)  
	{
			if (surfer_scores[surfer_color_index][surfer_score_index]>=best_score)
			{
				best_score=surfer_scores[surfer_color_index][surfer_score_index];
				best_score_id=transform_score_index_to_field_id(surfer_color_index,surfer_score_index);
			}
		var field_id=transform_score_index_to_field_id(surfer_color_index, surfer_score_index);	
		mark_field_as_inactive(field_id);	
	}
	mark_field_as_best(best_score_id);	
}
function update_fields()
{
	clear_fields();
	for (surfer_color_index = 0; surfer_color_index < surfer_scores.length; surfer_color_index++) 
	{ 
		for (surfer_score_index = 0; surfer_score_index < surfer_scores[surfer_color_index].length; surfer_score_index++)  
		{
			var field_id = transform_score_index_to_field_id(surfer_color_index,surfer_score_index);
			var text_box = document.getElementById(field_id);
			text_box.value=surfer_scores[surfer_color_index][surfer_score_index];
		}
		mark_best_field_of_surfer(surfer_color_index);	
	}
}

function clear_fields()
{
	var surfer_scores=[[1.2, 5.4, 3],[2,5]];
	for (var i = 0; i<surfer_colors.length;i++)
	{
		for (var j = 0; j<max_no_of_waves;j++)
		{
			var field_id=transform_score_index_to_field_id(i,j);
			var text_box = document.getElementById(field_id);
			text_box.value=null;
		}
	}
	
}

function number_write(x)
{
	if(current_input_field!="none")
	{
		var text_box = document.getElementById(current_input_field);
		if(x>=0 && x<=9)
		{
			if(text_box.value===null || isNaN(text_box.value))
			{
				text_box.value = 0;
			}
			var input = (text_box.value ) * 10 + 0.1 * x;
			if (input<=10)
			{
				text_box.value = input;
			}
		}
	}
}

function number_clear()
{
	if(current_input_field != "none")
	{
		document.getElementById(current_input_field).value = null;
	}
}

function set_input_field(surfer_color_index)
{
	cancel();
    current_input_field= transform_score_index_to_field_id(surfer_color_index,surfer_scores[surfer_color_index].length);
	current_surfer=surfer_color_index;
	mark_field_as_active(current_input_field);
}
function enter_score()
{
	if(current_input_field != "none" )
	{
		var text_box = document.getElementById(current_input_field);
		var content_of_text_box=parseFloat(text_box.value); // Konvertiert den String aus dem Input Feld in eine Zahl vom Typ Float
		if(isNaN(content_of_text_box))
		{
		}
		else
		{
			surfer_scores[current_surfer][surfer_scores[current_surfer].length]=content_of_text_box;
			mark_best_field_of_surfer(current_surfer);
			current_surfer=NaN;
			current_input_field="none";
		}
	}	
}
function cancel()
{
	if(current_input_field != "none")
	{
		mark_field_as_inactive(current_input_field);
		document.getElementById(current_input_field).value = null;
		current_surfer=NaN;
		current_input_field="none";
		
	}
}

function make_buttons_quadratic()
{
    var cw = $('.quadratic').width();
    $('.quadratic').height(cw);
}
</script>
<script>
	$(document).ready(function ()
    {
        update_fields();
        make_buttons_quadratic();
        $(window).resize(make_buttons_quadratic);
    });
</script>
{% endblock javascript %}

{% block css %}
{{ super()}}
<style type="text/css">
.main_panel
{
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	padding:20px;
}

.number_button
{
	width:70px;
	height:70px;
	margin:10px;
	float:left;
	background-color:#AAAAAA;

	font-size:36px;
	text-align:center;
}

.text_box_inactive
{
	width:50px;
	height:30px;
	font-size:24px;
	text-align:right;
}

.enter_wave
{
	width:100px;
	height:30px;
	font-size:14px;
	text-align:left;
	background-color:#AAAAAA;
	border-style: solid;
    border-width: 0px;
}

.cancel_button
{
	width:140px;
	height:70px;
	margin:10px;
	float:left;
	background-color:#AAAAAA;

	font-size:25px;
	text-align:center;
}

.enter_button
{
	width:140px;
	height:70px;
	margin:10px;
	float:left;
	background-color:#AAAAAA;

	font-size:25px;
	text-align:center;
}
</style>
{% endblock css %}


{% block content %}
<table class="table">
    {% for surfer_color in surfer_color_names %}
    <tr>
        <td>
            <button id="asdf" class="btn btn-default btn-lg btn-block" style="background-color: {{ surfer_color_colors[loop.index-1] }}; border-color: #000000" onclick="set_input_field( {{ loop.index - 1 }} );"id="{{ surfer_color }}_enter">{{ surfer_color }}</button>
        </td>
        <td>
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                            {% for wave_idx in range(  number_of_waves ) %}
                            <input class="form-control" style="width: 10%" type="text" id="{{ surfer_color }}_{{wave_idx}}" readonly />
                            {% endfor %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <br />
    {% endfor %}
</table>
<br />


<br /><br />
<div class="btn-toolbar" role="toolbar">
    {% for number_index in range(10) %}
    <button class="btn btn-default btn-lg quadratic" style="width: 8.5%" onclick="number_write({{ number_index }});">{{number_index}}</button>
    {% endfor %}
</div>
<br /><br />
<div class="btn-toolbar" role="toolbar">
    <button class="btn btn-info btn-lg" style="width: 31%; height: 100px" onclick="number_clear();">Del</button>
    <button class="btn btn-success btn-lg" style="width: 31%; height: 100px" onclick="enter_score();">ENTER</button>
    <button class="btn btn-danger btn-lg" style="width: 31%; height: 100px" onclick="cancel();">Cancel</button>
</div>
<!--<button class="enter_button" onclick="update_fields();">Update</button> -->
{% endblock content %}