
<div class="container-fluid" id="judge_panel_data" data-heatid="{{ heat_id }}" data-judgeid="{{ judge_id }}" data-judgename="{{ judge_name }}">
    <table class="table">
        <tr>
            <td><b>Wave</b></td>
            {% for wave_idx in range( number_of_waves ) %}
            <td align="center">
                <b>{{ loop.index }}</b>
            </td>
            {% endfor %}
        </tr>

        {% for surfer_color in surfer_color_names %}
        <tr>
            <td>
                <button class="btn btn-default btn-lg btn-block" style="background-color: {{ surfer_color_colors[surfer_color] }}; border-color: #000000; height: 70px;" onclick="open_modal('{{ surfer_color }}')" data-hex="{{ surfer_color_colors[surfer_color] }}" id="{{ surfer_color }}" data-surfer ="{{ surfer_color }}" data-wave="-1"><b>{{ surfer_color }}</b></button>
            </td>
            {% for wave_idx in range( number_of_waves ) %}
            <td>
                <div class="form-inline">
                    <div class="input-group input-group-lg">
                        <input class="form-control"  type="text" id="{{ surfer_color }}_{{wave_idx}}" onclick="open_modal('{{ surfer_color }}_{{wave_idx}}')" data-hex="{{ surfer_color_colors[surfer_color] }}" data-surfer="{{ surfer_color }}" data-wave="{{ wave_idx }}" style="height: 70px;" readonly />
                    </div>
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
