{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_judge_tools']{% endblock nav_items %}

{% block title %}Judge Panel{% endblock title %}


{% block css %}
{{ super()}}
<style type="text/css">

.borderless tbody tr td, .borderless tr th, .borderless thead tr th {
    border: none;
    border-radius: 5px;
}
</style>
{% endblock css %}




{% block javascript %}

{{ super() }}

<script type="text/javascript">
var MISSED = -1;
var INTERFERENCE = -2;
//Variables that need to be defined by Contest Operators*****
var max_no_of_waves= -1; // 10 is default value will be overwritten by toggle_visibility
var surfer_colors_hex= []; //will be overwritten by toggle_visibility
var surfer_color_names = {};

var surfer_scores={};// This variable contains for each surfer an array with his scored waves


function activate_judge_panel(heat_id){
    $.getJSON('do_get_active_heat_info', {heat_id: heat_id}, function(data){
        max_no_of_waves = data['number_of_waves'];
        surfer_colors_hex = []
        var surfer_colors_hex_array = data['participants']['surfer_color_hex'];
        surfer_color_names = data['participants']['surfer_color'];
        surfer_scores={};
         // Initialize colors in surfer_scores from jinja template
        for (var surfer_color_idx = 0; surfer_color_idx < surfer_color_names.length; surfer_color_idx++)
        {
            surfer_colors_hex[surfer_color_names[surfer_color_idx]] = surfer_colors_hex_array[surfer_color_idx];
            surfer_scores[surfer_color_names[surfer_color_idx]] = [];
        }
        sync_with_server();
        $('#active_heat').html('Tournament: ' + data['tournament_name'] + ' Category: ' + data['category_name'] + ' Heat: ' + data['heat_name']);
    });
 }


function transform_score_index_to_field_id(color,surfer_score_index)
{
	return color + "_" + surfer_score_index;
}

function mark_field_as_best(field_id)
{
	document.getElementById(field_id).style.backgroundColor = "#DDDDF1";
	//document.getElementById(field_id).style.border = "solid black 2px";
 }
 function mark_field_as_inactive(field_id)
{
	document.getElementById(field_id).style.backgroundColor = "#FFFFFF";
	document.getElementById(field_id).style.border = "solid black 1px";
}

function mark_best_field_of_surfer(color)
 {
	var best_score=0;
	var best_score_id="none";
	for (var surfer_score_index = 0; surfer_score_index < surfer_scores[color].length; surfer_score_index++)
	 {
        var score = parseFloat(surfer_scores[color][surfer_score_index]);
		if (score < 0) // Check if field contains valid score i.e. not a missed of interference
        {
        }
        else
        {
            if (score >= best_score)
            {
                best_score = score;
                best_score_id = transform_score_index_to_field_id(color,surfer_score_index);
            }
        }
		 var field_id=transform_score_index_to_field_id(color, surfer_score_index);
         mark_field_as_inactive(field_id);
	}
    if ( !(best_score_id === "none") )
	     mark_field_as_best(best_score_id);
}


function sync_with_server()
{
    $.getJSON('do_query_scores', function(server_data){
        for (var color in surfer_scores)
        {
            var server_data_length=0;
            if (color in server_data)
            {
                server_data_length=server_data[color].length;
                for (var wave_index=0; wave_index < server_data[color].length; wave_index++)
                {
                    surfer_scores[color][wave_index] = server_data[color][wave_index];
                }
            }
        }
        update_fields();
    });
}

function update_fields()
{
	clear_fields();
	for (var color in surfer_scores)
	{
		for (surfer_score_index = 0; surfer_score_index < surfer_scores[color].length; surfer_score_index++)
		{
			var field_id = transform_score_index_to_field_id(color,surfer_score_index);
			var text_box = document.getElementById(field_id);
            var val = surfer_scores[color][surfer_score_index];
            if (val === MISSED)
                val = 'M';
            else if (val === INTERFERENCE)
                val = 'I';
			text_box.value= val;
		}
		mark_best_field_of_surfer(color);
	}
}

function clear_fields()
{
	for (var color in surfer_scores)
	{
		for (var j = 0; j<max_no_of_waves;j++)
		{
			var field_id=transform_score_index_to_field_id(color,j);
			var text_box = document.getElementById(field_id);
			text_box.value="";
		}
	}

}

</script>

<script>
function toggle_visibility()
{
    $.getJSON('do_get_active_heat_info', function(active_heat_info)
        {
        if (! $.isEmptyObject(active_heat_info)){ //if user is not active in any heat
            if ($('#judge_panel').data('status') == 'inactive'){
                var heat_id = active_heat_info['heat_id'];

                $.get('/do_get_judge_panel', {heat_id: heat_id}, function(judge_panel){
                    if (active_heat_info != ''){
                        //$('#judge_panel_data').data('heat_id', heat_id);
                        $('#judge_panel').append(judge_panel);
                        $('#judge_panel').data('status', 'active');
                        activate_judge_panel(heat_id);
                        $('#waiting_banner').hide();
                    } else {
                        $('#judge_panel').empty();
                        $('#judge_panel').data('status', 'inactive');
                        $('#waiting_banner').show();
                    }
                });
            }
        } else {
            if ($('#judge_panel').data('status') == 'active'){
                $('#modal_heat_end_judge_name').html($('#judge_panel_data').data('judgename'));
                $('#modal_heat_end_judge_id').html($('#judge_panel_data').data('judgeid'));
                $('#heat_end_modal').modal('toggle');
            }
            $('#judge_panel').empty();
            $('#judge_panel').data('status', 'inactive');
            $('#waiting_banner').show();
        }

    });
}

</script>


<script>
	$(document).ready(function(){
        toggle_visibility();
        setInterval(toggle_visibility, 5000);
    });
</script>


<script>
 function open_modal(elem_id){
     var elem = $('#'+elem_id);
     var surfer =  elem.data('surfer');
     var selected_wave_idx = elem.data('wave');
     var next_open_wave_idx = surfer_scores[surfer].length;
     var old_val = '--';
     if (selected_wave_idx > next_open_wave_idx)
         return;

     if (selected_wave_idx == -1 || selected_wave_idx == next_open_wave_idx){
         input_wave_idx = next_open_wave_idx;
         $('#input_modal .modal_old_score').hide();
         $('#input_modal .modal_new_score').hide();

     }
     else {
         input_wave_idx = selected_wave_idx;
         old_val = elem.val();
         $('#input_modal .modal_old_score').html('<font color="red">Old: ' + old_val + '</font>');
         $('#input_modal .modal_new_score').show();
         $('#input_modal .modal_old_score').show();

     }
     if (input_wave_idx < max_no_of_waves){
         $('#input_modal').data('surfer', surfer);
         $('#input_modal').data('wave', input_wave_idx);
         $('#modal_surfer_color').html(surfer.toUpperCase());
         $('#modal_wave_idx').html(input_wave_idx +1);
         $('#input_modal .modal_score').html('--');
         $('#input_modal .modal-content').css({'background-color': elem.data('hex')});
         $('#input_modal').modal('toggle');
     }
 }
</script>
{% endblock javascript %}


{% block content %}

<div class="jumbotron" id="waiting_banner"><h1>Please wait for heat to start...</h1></div>


<div class="container-fluid" id="judge_panel" data-status="inactive">
</div>
{% endblock content %}



{% block modals %}

<!-- Edit judge modal -->
<div class="modal" id="input_modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <table class="table borderless">
                    <tr>
                        <td>
                            <font size="5"><b><span id="modal_surfer_color"></span></b><br><b>Wave <span id="modal_wave_idx"></span></b></font>
                            <br>
                        </td>


                        <td rowspan="3" width="5%"></td>
                        <td rowspan="3" bgcolor="#EEEEEE">
                            <div class="btn-toolbar" role="toolbar" align="center">
                                <button class="btn btn-standard btn-lg quadratic" style="width: 70px; height: 65px;" onclick="edit_score_modal(1)"><b>1</b></button>
                                <button class="btn btn-standard btn-lg quadratic" style="width: 70px; height: 65px;" onclick="edit_score_modal(2)"><b>2</b></button>
                                <button class="btn btn-standard btn-lg quadratic" style="width: 70px; height: 65px;" onclick="edit_score_modal(3)"><b>3</b></button>
                            </div>
                            <br>
                            <div class="btn-toolbar" role="toolbar" align="center">
                                <button class="btn btn-standard btn-lg quadratic" style="width: 70px; height: 65px;" onclick="edit_score_modal(4)"><b>4</b></button>
                                <button class="btn btn-standard btn-lg quadratic" style="width: 70px; height: 65px;" onclick="edit_score_modal(5)"><b>5</b></button>
                                <button class="btn btn-standard btn-lg quadratic" style="width: 70px; height: 65px;" onclick="edit_score_modal(6)"><b>6</b></button>
                            </div>
                            <br>
                            <div class="btn-toolbar" role="toolbar" align="center">
                                <button class="btn btn-standard btn-lg quadratic" style="width: 70px; height: 65px;" onclick="edit_score_modal(7)"><b>7</b></button>
                                <button class="btn btn-standard btn-lg quadratic" style="width: 70px; height: 65px;" onclick="edit_score_modal(8)"><b>8</b></button>
                                <button class="btn btn-standard btn-lg quadratic" style="width: 70px; height: 65px;" onclick="edit_score_modal(9)"><b>9</b></button>
                            </div>
                            <br>
                            <div class="btn-toolbar" role="toolbar" align="center">
                                <button class="btn btn-standard btn-lg quadratic" style="width: 70px; height: 65px;" onclick="edit_score_modal(0)"><b>0</b></button>
                            </div>
                        </td>
                        <td rowspan="3" width="5%">
                        </td>

                        <td bgcolor="#EEEEEE" style="border-radius: 5px 5px 0px 0px">
                            <button class="btn btn-danger btn-lg" style="width: 100%; height: 70px;" data-dismiss="modal" onclick="sync_with_server()">Cancel</button>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#EEEEEE">
                                <h4 class="modal_old_score" style="display:none;" align="center"></h4>
                                <h1>
                                    <span class="modal_new_score" style="display:none">New:<br></span>
                                    <span class="modal_score" align="center">--</span></h1>
                        </td>

                        <td bgcolor="#EEEEEE" style="vertical-align: middle; border-radius: 0px 0px 0px 0px">
                            <button class="btn btn-info btn-lg" style="width: 100%; height: 70px;" onclick="clear_score_modal()">Del</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: bottom">
                            <button class="btn btn-standard btn-lg" style="height:70px; width: 120px; vertical-align: bottom;" onclick="edit_score_modal(MISSED)"">Missed</button>
                        </td>
                        <td bgcolor="#EEEEEE" style="vertical-align: bottom; border-radius: 0px 0px 5px 5px">
                            <button id="judge_submit" class="btn btn-success btn-lg" style="width: 100%; height: 70px;" data-dismiss="modal" onclick="enter_score_modal()">Enter</button>
                        </td>
                    </tr>
                </table>
            </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- Logout after Heat modal -->
<div class="modal" id="heat_end_modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Lenny asks:</h4>
          </div> <!-- /.modal-header -->
            <div class="modal-body" align="center">
                <h1>Are you Judge <span id="modal_heat_end_judge_id"></span></h1>
                <h1>(<span id="modal_heat_end_judge_name"></span>)?</h1>
                <br><br><br>
                <div class="btn-toolbar" role="toolbar">
                    <button class="btn btn-lg btn-danger pull-left" style="height: 100px; width: 130px" onclick="window.location.replace('/auth/logout')">
                        <span class="glyphicon glyphicon-remove">&nbsp;</span>No
                    </button>
                    <button class="btn btn-lg btn-success pull-right" style="height: 100px; width: 130px" data-dismiss="modal">
                        <span class="glyphicon glyphicon-ok">&nbsp;</span>Yes                               </button>
                </div>
            </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock modals %}

{% block modal_javascript %}
<script>
function edit_score_modal(val)
{
    var modal_score_field = $('#input_modal .modal_score');

    var text_box_value = parseFloat(modal_score_field.html());
    var out_val = 0;
	if(val===MISSED)
    {
        out_val="M";
    }
    else if(val===INTERFERENCE)
    {
        out_val="I";
    }
    else if(!isNaN(text_box_value) && val>=0 && val<=9)
	{
        var input = 0.0;
        if (text_box_value == 1 && val == 0)
            input = 10;
        else
		    input = text_box_value + 0.1 * val;
		if (input <= 10)
		{
			out_val = input.toFixed(1);
		} else {
            out_val = '';
        }
	}
    else if(isNaN(text_box_value))
    {
        out_val = (val).toFixed(1);
    }
    if (out_val != '')
        modal_score_field.html(out_val);
}

function clear_score_modal(){
    $('#input_modal .modal_score').html('--');
}

function enter_score_modal(){
    var modal_score = $('#input_modal .modal_score').html();
    var modal_float = parseFloat(modal_score);
    var current_surfer = $('#input_modal').data('surfer');
    var selected_wave_idx = $('#input_modal').data('wave');
    var next_open_wave_idx = surfer_scores[current_surfer].length;

	if (modal_score==="M")
    {
        modal_float = MISSED;
    }
    else if (modal_score==="I")
    {
        modal_float = INTERFERENCE;
    }
	//surfer_scores[current_surfer][next_open_wave_idx] = modal_float;
    var missed = (modal_float == MISSED);
    var interference = (modal_float == INTERFERENCE);
    var score = {'color': current_surfer, 'score': modal_float, 'wave': selected_wave_idx, 'missed': missed, 'interference': interference };
    var upload_data = {score: JSON.stringify(score)}; //Transform object into JSON

    if ((!isNaN(modal_float) && modal_float >=0 && modal_float<=10) || modal_float == MISSED || modal_float == INTERFERENCE)
    {
        if (selected_wave_idx == next_open_wave_idx){ // add a new wave
            $.post('do_insert_score', upload_data, function(data){
                sync_with_server();
            });
        } else { // edit an old wave
            upload_data['heat_id'] = $('#judge_panel_data').data('heatid');
            $.get('/do_modify_score', upload_data, function(data){
                sync_with_server();
            });
        }
    }
}
</script>
{% endblock modal_javascript %}
