{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_judge_tools']{% endblock nav_items %}

{% block title %}UI for Judges{% endblock title %}


{% block javascript %}
{{ super() }}

<script>

function toggle_visibility()
{
    $.get('do_get_active_heat_info', function(data)
    {
        var server_data = $.parseJSON(data);
        if (! $.isEmptyObject(server_data)) //if user is not active in any heat
        {
            window.location.replace('/judge_panel');
        }
    });
}

 $(document).ready(function()
     {
         setInterval(toggle_visibility, 5000);
     });
</script>
{% endblock javascript %}


{% block content %}
<div class="container-fluid">
    <div class="jumbotron"><h1>No Heat running for you!</h1></div>
</div>
{% endblock content %}
