<!DOCTYPE html>
<html lang="en">
  <head>
    {% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="{{ description }}" >
    <meta name="author" content="Christian und Dario" >
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title> {% block title %}Surfjudge{% endblock title %} </title>

    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <link href="/static/bootstrap_table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/static/surfjudge/css/surfjudge.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    {% endblock css %}
    {% endblock header %}
  </head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid col-md-12">
            <!-- The following gives three lines if navbar is collapsed -->
            <div class="navbar-header">
                {% block navbar_header %}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% endblock navbar_header %}
                <a class="navbar-brand" href="/" style="padding:0;"><img src="/static/img/SurfjudgeLogo.png" style="width: auto;height:100%; padding:0;"></a>
            </div>
            <div class="collapse navbar-collapse">
                {% if not global_logged_in %}
                    <ul class="nav navbar-nav navbar-right">
                        <li id='nav_item_login'><a href="/auth/login"><span class="glyphicon glyphicon-play-circle">&nbsp;</span>Login</a></li>
                        <!-- LINE BELOW PROVIDES DWV LOGO IF REQUESTED-->
                        <!--<li><a class="navbar-brand" href="/" style="padding:0;"><img src="/static/img/logo-dwv.png" style="width: auto;height:100%; padding:0;"></a></li>-->
                    </ul>
                {% endif %}
                {% if False %} <!-- This is commented out because we decided to hide the login button. -->
                    <li id='nav_item_login'><a href="/auth/login"><span class="glyphicon glyphicon-play-circle">&nbsp;</span>Login</a></li>
                    <li id='nav_item_register'><a href="/auth/register"><span class="glyphicon glyphicon-user">&nbsp;</span>Register</a></li>
                {% endif %}
                <ul class="nav navbar-nav">
                    {% if global_is_admin %}
                    <li id='nav_item_heat_overview'><a href="/headjudge/heat_overview"><span class="glyphicon glyphicon-home">&nbsp;</span>Heat Overview</a></li>                    
                    <li id='nav_item_edit_scores'><a href="/tournament_admin/edit_scores"><span class="glyphicon glyphicon-pencil">&nbsp;</span>Edit Scores</a></li>                    
                    {% endif %}
                    {% if global_is_judge %}
                    <li id='nav_item_judge_tools'><a href="/judge_hub"><span class="glyphicon glyphicon-list-alt">&nbsp;</span>Judge Sheet</a></li>
                    {% endif %}
                    {% if global_is_commentator %}
                    <li id='nav_item_commentator_panel'><a href="/commentator_hub"><span class="glyphicon glyphicon-eye-open">&nbsp;</span>Commentator</a></li>
                    {% endif %}
                    {% if global_is_headjudge %}
                    <!-- HEAD JUDGE OPTIONS-->
                    <li id='nav_item_judge_activities'><a href="/headjudge/judge_activities"><span class="glyphicon glyphicon-list-alt">&nbsp;</span>Head Judge</a></li>                    
                    {% endif %}
					{% if global_is_admin %}
					<li class="dropdown" id='nav_item_admin'>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog">&nbsp;</span>Admin<span class="caret"></span></a>
                    
                        <ul class="dropdown-menu">
                            <li><a href="/tournament_admin/tournaments">Tournament Admin</a></li>
                            <!--<li><a href="/headjudge/judge_activities">Judge Activities</a></li> -->
                            <li><a href="/headjudge/start_stop_heats">Start/Stop Heats</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/auth/logins">Administrate Logins</a></li>
                        </ul>
                    </li>
					{% endif %}
                </ul>
                {% if global_logged_in %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a><span class="glyphicon glyphicon-user">&nbsp;</span>{{ global_username }}</a></li>
                        <li id='nav_item_logout'><a href="/auth/logout"><span class="glyphicon glyphicon-off">&nbsp;</span>Logout</a></li>
                            {% if global_is_commentator %}
                            <!-- LINE BELOW PROVIDES DWV LOGO IF REQUESTED -->
                            <!--
                                <li><a class="navbar-brand" href="/" style="padding:0;"><img src="/static/img/logo-dwv.png" style="width: auto;height:100%; padding:0;"></a></li>
                            -->
                            {% endif %}
                    </ul>
                {% endif %}
                
            </div>
        </div>
    </nav>


    {% block content_layout %}
    <div class="container">

        {% block content %}
        <h1> {{ message }} </h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        {% endblock content %}
    </div>
    {% endblock content_layout %}



    {% block modals %}
    {% endblock modals %}

    {% block javascript %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery/jquery-2.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap_table/bootstrap-table.min.js"></script>
    <!-- The following sets the current navigation item as active -->
    <script>
     $(document).ready(function() {
         window.scrollTo(0,1);
         var elem_ids = {% block nav_items %}["#nav_item_home"]{% endblock nav_items %};
         for (i=0; i<elem_ids.length; i++){
             $(elem_ids[i]).addClass("active");
         }
     });
    </script>
    {% endblock javascript %}

    {% block modal_javascript %}
    {% endblock modal_javascript %}

  </body>
</html>
