{% extends "base_dashboard.html" %}

{% block nav_items %}['#nav_item_tournament_admin', '#sidebar_item_edit_heats']{% endblock nav_items %}

{% block title %}Edit Heats{% endblock title %}

{% block sidebar_content %}
{% include "tournament_admin/sidebar.html" %}
{% endblock sidebar_content %}


{% block css %}
{{ super() }}

<link href="/static/datepicker/css/datepicker.css" rel="stylesheet">
<link href="/static/bootstrap_duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet">

<style>
.datepicker{z-index:1151 !important;}

.scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
</style>

{% endblock css %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="dropdown">
                <div class="btn-group">
                <button id="tournaments_dropdown_label" class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tournaments <span class="caret"></span>
                </button>
                <ul id="tournaments_dropdown_list" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="tournaments_dropdown_label">
                </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Selected Tournament:</span>
                <span id="selected_tournament">No tournament selected</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="dropdown">
                <div class="btn-group">
                <button id="categories_dropdown_label" class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories <span class="caret"></span>
                </button>
                <ul id="categories_dropdown_list" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="categories_dropdown_label">
                </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Selected Category:</span>
                <span id="selected_category">No category selected</span>
            </div>
        </div>
    </div>




    <div id="data_section"  style="display:none">
        <table class="table table-striped"
               id="heats_table"
               data-toggle="table"
               data-url="{{ mount_loc }}/do_get_heats"
               data-sort-name="name"
               date-sort-order="asc">
            <thead>
                <tr>
                    <th data-field="id">ID (for admin)</th>
                    <th data-field="name" data-sortable="true">Heat Name</th>
                    <th data-field="date" data-sortable="true">Date</th>
                    <th data-field="start_time" data-sortable="true">Start Time</th>
                    <th data-field="number_of_waves" data-sortable="true">Number of Waves</th>
                    <th data-field="additional_info">Additional Info</th>
                </tr>
            </thead>
        </table>
        <button type="button" id="new_btn" class="btn btn-primary btn-lg">New Heat</button>
    </div>
</div>
{% endblock content %}



{% block modals %}
{% include "tournament_admin/heat_modal.html" %}
{% endblock modals %}

{% block javascript %}
{{ super() }}

<script src="/static/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/bootstrap_duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<script src="/static/plusminusinput/plusminusinput.js"></script>

<script>
 // ***** DROPDOWN *****

 function refresh_tournaments(){
     // fill dropdown with tournament names
     $.get('{{ mount_loc }}/do_get_tournaments', function(data){
         var tournaments = JSON.parse(data);
         // sort
         function comp_func(a,b){
             return (b['start_datetime'] < a['start_datetime']) ? 1 : -1;
         }

         tournaments.sort(comp_func);

         // fill dropdown list with sorted tournament names
         $('#tournaments_dropdown_list').empty();
         for (i in tournaments){
             $('#tournaments_dropdown_list').append('<li><a class="select" href="#" data-name="' + tournaments[i]['name'] + '" data-index=' + tournaments[i]['id'] + '>' + tournaments[i]['name'] + '</a></li>');
         };
     });
     $('#selected_tournament').html('No tournament selected');
     $('#selected_tournament').data('select', null);
     refresh_categories();
     $('#data_section').hide();
 };

 function refresh_categories(tournament_id){
     if (typeof tournament_id !== 'undefined'){
         $.get('{{ mount_loc }}/do_get_categories',{tournament_id: tournament_id}, function(data){
             var categories = JSON.parse(data);
             $('#categories_dropdown_list').empty();
             for (i in categories){
                 $('#categories_dropdown_list').append('<li><a class="select" href="#" data-name="' + categories[i]['name'] + '" data-index=' + categories[i]['id'] + '>' + categories[i]['name'] + '</a></li>');
             };
         });
     };
     $('#selected_category').html('No category selected');
     $('#selected_category').data('select', null);
     $('#data_section').hide();
 };


 $('#tournaments_dropdown_list').on('click', '.select', function(e){
     tid =  $(this).data('index');
     $('#selected_tournament').html('Tournament "<b>' + $(this).data('name') + '</b>" selected');
     $('#selected_tournament').data('select', tid);
     refresh_categories(tid);
 });
 $('#categories_dropdown_list').on('click', '.select', function(e){
     $('#selected_category').html('Category "<b>' + $(this).data('name') + '</b>" selected');
     $('#selected_category').data('select', $(this).data('index'));
     refresh_data_table();
 });

 function refresh_data_table(){
     var tid = $('#selected_tournament').data('select');
     var cid = $('#selected_category').data('select');
     query = {}
     if (typeof cid !== 'undefined')
         query['category_id'] = cid;

     $('#heats_table').bootstrapTable('refresh', {url:'{{ mount_loc }}/do_get_heats', query: query});
     $('#data_section').show();
 };

</script>

<script>
 // ***** NEW HEAT BUTTON *****
function fill_modal(heat_id, heat_name, date, start_time, n_waves, additional_info){
  $('#modal_heat_id').val(heat_id);
  $('#modal_heat_name').val(heat_name);
  if (date == null){
    $('#modal_date_picker').data('datepicker').setValue('');
  } else {
    $('#modal_date_picker').data('datepicker').setValue(start_date);
  }
    // time picker
  $('#modal_nwaves').val(n_waves);
  $('#modal_additional_info').val(additional_info);
  refresh_participants(heat_id);
}

 function add_participant_row(surfer_id, surfer_name, surfer_color, elem_handle){
     var colors = ['red', 'blue', 'green', 'yellow'];

     var row = $('<tr><td>'+ surfer_id +'</td><td>'+ surfer_name +'</td></tr>');
     var s = $('<select class="form-control"/>');
     $(s).data({'surfer_id': surfer_id});

     for(var val in colors) {
         var option_data = {value: colors[val], text: colors[val]};
         if (surfer_color === colors[val])
             option_data['selected'] = true;
         $('<option />', option_data).appendTo(s);
     }
     $(s).wrap('<td></td>');
     s.appendTo($(row));
     $('#participants_table tbody').append(row);
 }

function refresh_participants(heat_id){
    $.getJSON( '{{ mount_loc }}/do_get_participating_surfers', {heat_id: heat_id}, function(participants_data){
        $.getJSON( '{{ mount_loc }}/do_get_surfers', function(surfer_data){

            // fill participants_select in participant modal
            $('#participants_select').empty();
            for (idx in surfer_data){
                var surfer_id = surfer_data[idx]['id'];
                var surfer_name = surfer_data[idx]['name'];
                $('<option />', {value: surfer_id, text: surfer_name}).appendTo($('#participants_select'));
            }

            var participant_ids = participants_data['surfer_ids'];
            var participant_colors = participants_data['surfer_colors'];
            $('#participants_table > tbody').empty();
            for (idx in participant_ids){
                var surfer_id = participant_ids[idx];
                var surfer_color = participant_colors[idx];
                var surfer_name = $('#participants_select option[value="'+ surfer_id +'"]').text();

                // fill table in edit_heat modal
                add_participant_row(surfer_id, surfer_name, surfer_color, '#participants_table > tbody');

                // activate in participants_select
                $('#participants_select option[value='+surfer_id+']').prop('selected', true)
            };
            participants_dlb.bootstrapDualListbox('refresh');

        });
    });
 }
 // register functionality to choose tournament from dropdown list
 // and table adjusts accordingly

// register functionality for "new heat" button
$('#new_btn').on('click', function(){
  fill_modal(null, null, null, null, null, null);
  $('#edit_heat_modal').modal('toggle');
  });


// register functionality for selecting heats from table
$('#heats_table').on('click-row.bs.table', function (e, row, $element) {
    if (typeof(row) !== 'undefined'){
        fill_modal(row['id'], row['name'], row['date'], row['start_time'], row['number_of_waves'], row['additional_info']);
        $('#edit_heat_modal').modal('toggle');
    };
});
</script>

<script>
 $(document).ready(function(){
     refresh_tournaments();
 });
</script>

{% endblock javascript %}
