{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_admin']{% endblock nav_items %}

{% block title %}Edit Logins{% endblock title %}

{% block sidebar_content %}
{% include "tournament_admin/sidebar.html" %}
{% endblock sidebar_content %}



{% block css %}
{{ super() }}

<style>
.scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
</style>

{% endblock css %}

{% block content %}

<!-- All judges table -->
<div class="container-fluid">

    <table class="table table-striped"
           id="logins_table"
           data-toggle="table"
           data-url="/auth/do_get_logins"
           data-sort-name="name"
           date-sort-order="asc">
        <thead>
            <tr>
                <th data-field="username">Username</th>
                <th data-field="roles" data-sortable="true">Roles</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock content %}



{% block modals %}

<!-- Edit judge modal -->
<div class="modal fade" id="edit_login_modal">
    <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Edit Login</h4>
          </div> <!-- /.modal-header -->

          <div class="modal-body">
              <div class="well">
                  <div class="form-horizontal">
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Username</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control login_input" data-key="username" placeholder="Username">
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="col-sm-2 control-label">Roles</label>
                          <div class="col-sm-10">
                              {% for role in [('Admin', 'ac_admin'), ('Judge', 'ac_judge'), ('Headjudge', 'ac_headjudge'), ('Commentator', 'ac_commentator')] %}
                              <div class="checkbox">
                                  <label class="control-label">
                                      <input class="login_input" type="checkbox" data-key="{{ role[1] }}">{{ role[0] }}
                                  </label>
                              </div>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- /.modal-body -->
          <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button id="login_delete" class="btn btn-danger pull-left" data-dismiss="modal">Delete</button>
              <button id="login_submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock modals %}


{% block javascript %}
{{ super() }}

<script>
 function fill_edit_login_modal(data){
     $('#edit_login_modal').find('.login_input').each(function(idx, elem){
         var key = $(this).data('key');
         if ($(this).attr('type') == 'checkbox'){
             if (data['roles'].indexOf(key) >= 0)
                 $(this).prop('checked', true);
             else
                 $(this).prop('checked', false);
         }
         else
             $(this).val(data[key]);
     });
}

// register functionality for selecting judge from table
 $('#logins_table').on('click-row.bs.table', function (e, row, $element) {
     $('#edit_login_modal').data('old_username', row['username']);
     if (row != null){
         console.log(row);
         fill_edit_login_modal(row);
         $('#edit_login_modal').modal('toggle');
     };
 });
</script>

{% endblock javascript %}




{% block modal_javascript %}

<script>

 function fetch_modal_input_data(){
     var _this = this;
     var data = {};
     var roles = [];
     $('#edit_login_modal').find('.login_input').each(function(idx, elem){
         var key = $(this).data('key');
         if ($(this).attr('type') == 'checkbox'){
             if ($(this).prop('checked'))
                 roles.push(key);
         }
         else
             data[key] = $(this).val();
     });
     data['roles'] = JSON.stringify(roles);
     var old_username = $('#edit_login_modal').data('old_username');
     if (data['username'] != old_username){
         data['old_username'] = old_username;
         data['new_username'] = new_username;
     }
     return data;
 }
 // ***** MODAL internals *****
 $('#login_submit').on('click', function(){
     data = fetch_modal_input_data();
     $.post('/auth/do_modify_login', data);
     $('#logins_table').bootstrapTable('refresh');
  });

 $('#login_delete').on('click', function(){
     data = fetch_modal_input_data();

      $.post('/auth/do_delete_login', {username: data['username']});
      $('#logins_table').bootstrapTable('refresh');
 });



</script>

{% endblock modal_javascript %}
