{% extends "base_dashboard.html" %}

{% block nav_items %}['#nav_item_tournament_admin', '#sidebar_item_edit_tournaments']{% endblock nav_items %}

{% block title %}Edit Tournaments{% endblock title %}

{% block sidebar_content %}
{% include "tournament_admin/sidebar.html" %}
{% endblock sidebar_content %}


{% block css %}
{{ super() }}

<link href="/static/datepicker/css/datepicker.css" rel="stylesheet">
<style>
.datepicker{z-index:1151 !important;}
</style>


{% endblock css %}



{% block content %}

<table class="table table-striped"
       id="tournaments_table"
       data-toggle="table"
       data-url="{{ mount_loc }}/get_tournaments"
       data-sort-name="name"
       date-sort-order="asc">
    <thead>
        <tr>
            <th data-field="id">ID (for admin)</th>
            <th data-field="name" data-sortable="true">Tournament Name</th>
            <th data-field="start_date" data-sortable="true">Start Date</th>
            <th data-field="end_date" data-sortable="true">End Date</th>
            <th data-field="additional_info">Additional Info</th>
        </tr>
    </thead>
</table>

<button type="button" id="new_tournament_btn" class="btn btn-primary btn-lg">New Tournament</button>

{% endblock content %}



{% block modals %}

<!-- Edit tournaments modal -->
<div class="modal fade" id="edit_tournament_modal">
    <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Edit Tournament</h4>
          </div> <!-- /.modal-header -->

          <div class="modal-body">


          <div class="well">
              <div class="form-horizontal">
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Tournament name</label>
                      <div class="col-sm-10">
                          <input type="hidden" id="modal_tournament_id">
                          <input type="text" id="modal_tournament_name" name="tournament_name" class="form-control" placeholder="Tournament Name">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Dates</label>
                      <div class="col-sm-4">

			              <div class="input-group date" id="modal_start_date_picker" data-date="" data-date-format="dd.mm.yyyy">
				              <input class="form-control" id="modal_start_date_input" name="date_begin" size="16" type="text" placeholder="Date start" readonly>
				              <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
			              </div>
			              <div class="input-group date" id="modal_end_date_picker" data-date="" data-date-format="dd.mm.yyyy">
				              <input class="form-control" id="modal_end_date_input" name="date_end" size="16" type="text" placeholder="Date end" readonly>
				              <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
			              </div>

                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label">Additional Info</label>
                      <div class="col-sm-10">
                        <input type="text" id ="modal_additional_info" name="modal_additional_info" class="form-control" placeholder="Additional Info">
                      </div>
                  </div>
              </div>
          </div>


      </div><!-- /.modal-body -->


      <div class="modal-footer">
        <button id="modal_delete" class="btn btn-danger pull-left">Delete</button>
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="modal_submit" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock modals %}


{% block javascript %}
{{ super() }}

<script src="/static/datepicker/js/bootstrap-datepicker.js"></script>

<script>
function fill_modal(tournament_id, tournament_name, start_date, end_date, additional_info){
  $('#modal_tournament_id')[0].value = tournament_id;

  $('#modal_tournament_name')[0].value = tournament_name;
  //if (tournament_name == null){
  //  $('#modal_tournament_name')[0].placeholder = 'Tournament Name';
  //}

  if (start_date == null){
    $('#modal_start_date_picker').data('datepicker').setValue('');
  } else {
    $('#modal_start_date_picker').data('datepicker').setValue(start_date);
  }

  if (end_date == null){
    $('#modal_end_date_picker').data('datepicker').setValue('');
  } else {
    $('#modal_end_date_picker').data('datepicker').setValue(end_date);
  }

  $('#modal_additional_info')[0].value = additional_info;

}

$(document).ready(function (){
  //fill_modal('test_id', 'test_name', '10.04.2015', '12.04.2015', 'Additional Info');
});

$('#new_tournament_btn').on('click', function(){
  fill_modal(null, null, null, null, null);
  $('#edit_tournament_modal').modal('toggle');
  });


$('#tournaments_table').on('click-row.bs.table', function (e, row, $element) {
  var start_date = new Date();
  var end_date = new Date();

  tournament_id = row['id'];
  tournament_name = row['name'];
  start_date = row['start_date'];
  end_date = row['end_date'];
  additional_info = row['additional_info'];

  fill_modal(tournament_id, tournament_name, start_date, end_date, additional_info);
  $('#edit_tournament_modal').modal('toggle');
});
</script>


<!-- modal scripts -->
<script>
$('#modal_submit').on('click', function(){
  var tournament_id = $('#modal_tournament_id')[0].value;
  var tournament_name = $('#modal_tournament_name')[0].value;
  var start_date = $('#modal_start_date_input')[0].value;
  var end_date = $('#modal_end_date_input')[0].value;
  var additional_info = $('#modal_additional_info')[0].value;

  if (tournament_id == null && tournament_name.length == 0) {
    alert('Empty field "Tournament Name"');
    return
  }

  $.post('{{ mount_loc }}/do_edit_tournament', {tournament_id: tournament_id, tournament_name: tournament_name, start_date: start_date, end_date: end_date, additional_info: additional_info});
  $('#edit_tournament_modal').modal('toggle');
  $('#tournaments_table').bootstrapTable('refresh');
});

$('#modal_delete').on('click', function(){
  $.post('{{ mount_loc }}/do_delete_tournament', {tournament_id: tournament_id});
  $('#edit_tournament_modal').modal('toggle');
  $('#tournaments_table').bootstrapTable('refresh');
});

</script>


<!-- enable datepickers in modal window -->
<script>
var nowTemp = new Date();
var start_date = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0,0,0,0);

$('#modal_start_date_picker').datepicker({weekStart: 1})
  .on('changeDate', function(ev){
    start_date = ev.date;
    end_date.setValue(start_date);
    $('#modal_start_date_picker').datepicker('hide');
  });

var end_date = $('#modal_end_date_picker').datepicker({weekStart:1})
  .on('changeDate', function(ev){
    if (ev.date.valueOf() < start_date.valueOf()){
      alert('The end date of the tournament can not be before its start date.');
    }
    else {
      $('#modal_end_date_picker').datepicker('hide');
    }
  }).data('datepicker');

</script>

{% endblock javascript %}
