{% extends "base_dashboard.html" %}

{% block nav_items %}['#nav_item_tournament_admin', '#sidebar_item_edit_heats']{% endblock nav_items %}

{% block title %}Edit Heats{% endblock title %}

{% block sidebar_content %}
{% include "tournament_admin/sidebar.html" %}
{% endblock sidebar_content %}


{% block css %}
{{ super() }}

<link href="/static/datepicker/css/datepicker.css" rel="stylesheet">
<link href="/static/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="/static/bootstrap_duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet">

<style>
.datepicker{z-index:1151 !important;}
.timepicker{z-index:1151 !important;}
.scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
</style>

{% endblock css %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="dropdown">
                <div class="btn-group">
                <button id="tournaments_dropdown_select" class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="tournaments_dropdown_label">Tournaments</span>&nbsp;<span class="caret"></span>
                </button>
                <ul id="tournaments_dropdown_list" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="tournaments_dropdown_label">
                </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="dropdown">
                <div class="btn-group">
                <button id="categories_dropdown_select" class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="categories_dropdown_label">Categories</span>&nbsp;<span class="caret"></span>
                </button>
                <ul id="categories_dropdown_list" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="categories_dropdown_label">
                </ul>
                </div>
            </div>
        </div>
    </div>

    <br>


    <div id="data_section"  style="display:none">
        <button type="button" id="new_btn" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus">&nbsp;</span>New Heat</button>

        <table class="table table-striped"
               id="heats_table"
               data-toggle="table"
               data-url="{{ mount_loc }}/do_get_heats"
               data-sort-name="name"
               date-sort-order="asc">
            <thead>
                <tr>
                    <th data-field="id">ID (for admin)</th>
                    <th data-field="name" data-sortable="true">Heat Name</th>
                    <th data-field="date" data-sortable="true">Date</th>
                    <th data-field="start_time" data-sortable="true">Start Time</th>
                    <th data-field="number_of_waves" data-sortable="true">Number of Waves</th>
                    <th data-field="additional_info">Additional Info</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock content %}


{% block javascript %}
{{ super() }}

<script>
 // ***** DROPDOWN *****

 function refresh_tournaments(){
     // fill dropdown with tournament names
     $.get('{{ mount_loc }}/do_get_tournaments', function(data){
         var tournaments = JSON.parse(data);
         // sort
         function comp_func(a,b){
             return (b['start_datetime'] < a['start_datetime']) ? 1 : -1;
         }

         tournaments.sort(comp_func);

         // fill dropdown list with sorted tournament names
         $('#tournaments_dropdown_list').empty();
         for (i in tournaments){
             $('#tournaments_dropdown_list').append('<li><a class="select" href="#" data-name="' + tournaments[i]['name'] + '" data-index=' + tournaments[i]['id'] + '>' + tournaments[i]['name'] + '</a></li>');
         };
     });
     $('#tournaments_dropdown_label').html('Tournament');
     $('#tournaments_dropdown_select').data('select', null);
     refresh_categories();
     $('#data_section').hide();
 };

 function refresh_categories(tournament_id){
     if (typeof tournament_id !== 'undefined'){
         $.get('{{ mount_loc }}/do_get_categories',{tournament_id: tournament_id}, function(data){
             var categories = JSON.parse(data);
             $('#categories_dropdown_list').empty();
             for (i in categories){
                 $('#categories_dropdown_list').append('<li><a class="select" href="#" data-name="' + categories[i]['name'] + '" data-index=' + categories[i]['id'] + '>' + categories[i]['name'] + '</a></li>');
             };
         });
     };
     $('#categories_dropdown_label').html('Category');
     $('#categories_dropdown_select').data('select', null);
     $('#data_section').hide();
 };


 $('#tournaments_dropdown_list').on('click', '.select', function(e){
     tid =  $(this).data('index');
     $('#tournaments_dropdown_label').html('Tournament <b>' + $(this).data('name') + '</b>');
     $('#tournaments_dropdown_select').data('select', tid);
     refresh_categories(tid);
 });
 $('#categories_dropdown_list').on('click', '.select', function(e){
     $('#categories_dropdown_label').html('Category <b>' + $(this).data('name') + '</b>');
     $('#categories_dropdown_select').data('select', $(this).data('index'));
     refresh_data_table();
 });

 function refresh_data_table(){
     var tid = $('#tournaments_dropdown_select').data('select');
     var cid = $('#categories_dropdown_select').data('select');
     query = {}
     if (typeof cid !== 'undefined')
         query['category_id'] = cid;

     $('#heats_table').bootstrapTable('refresh', {url:'{{ mount_loc }}/do_get_heats', query: query});
     $('#data_section').show();
 };

</script>

<script>
 // ***** NEW HEAT BUTTON *****
function fill_modal(heat_id, heat_name, date, start_time, n_waves, additional_info){
  $('#modal_heat_id').val(heat_id);
  $('#modal_heat_name').val(heat_name);
  if (date == null){
    $('#modal_date_picker').data('datepicker').setValue('');
  } else {
    $('#modal_date_picker').data('datepicker').setValue(date);
  }
  if (date == null){
    $('#modal_time_picker').timepicker('setTime', '');
  } else {
    $('#modal_time_picker').timepicker('setTime', start_time);
  }
    // time picker
  $('#modal_nwaves').val(n_waves);
  $('#modal_additional_info').val(additional_info);
  refresh_participants(heat_id);
}

 function add_participant_row(surfer_id, surfer_name, surfer_color, elem_handle){
     var colors = {{ lycra_colors }};

     var row = $('<tr><td>'+ surfer_id +'</td><td>'+ surfer_name +'</td></tr>');
     var s = $('<select class="form-control"/>');
     $(s).data({'surfer_id': surfer_id});

     for(var val in colors) {
         var option_data = {value: colors[val], text: colors[val]};
         if (surfer_color === colors[val])
             option_data['selected'] = true;
         $('<option />', option_data).appendTo(s);
     }
     $(s).wrap('<td></td>');
     s.appendTo($(row));
     $('#participants_table tbody').append(row);
 }

 function refresh_participants(heat_id){
     $.getJSON( '{{ mount_loc }}/do_get_surfers', function(surfer_data){
         // fill participants_select in participant modal
         $('#participants_table > tbody').empty();
         $('#participants_select').empty();
         for (idx in surfer_data){
             var surfer_id = surfer_data[idx]['id'];
             var surfer_name = surfer_data[idx]['name'];
             $('<option />', {value: surfer_id, text: surfer_name}).appendTo($('#participants_select'));
         }
         participants_dlb.bootstrapDualListbox('refresh');
         if (heat_id === null)
             return;

         $.getJSON('/headjudge/do_get_participating_surfers', {heat_id: heat_id}, function(participants_data){
            var participant_ids = participants_data['surfer_id'];
            var participant_colors = participants_data['surfer_color'];
            for (idx in participant_ids){
                var surfer_id = participant_ids[idx];
                var surfer_color = participant_colors[idx];
                var surfer_name = $('#participants_select option[value="'+ surfer_id +'"]').text();

                // fill table in edit_heat modal
                add_participant_row(surfer_id, surfer_name, surfer_color, '#participants_table > tbody');

                // activate in participants_select
                $('#participants_select option[value='+surfer_id+']').prop('selected', true)
            };
            participants_dlb.bootstrapDualListbox('refresh');

        });
    });
 }
 // register functionality to choose tournament from dropdown list
 // and table adjusts accordingly

// register functionality for "new heat" button
$('#new_btn').on('click', function(){
  fill_modal(null, null, null, null, null, null);
  $('#edit_heat_modal').modal('toggle');
  });


// register functionality for selecting heats from table
$('#heats_table').on('click-row.bs.table', function (e, row, $element) {
    if (typeof(row) !== 'undefined'){
        fill_modal(row['id'], row['name'], row['date'], row['start_time'], row['number_of_waves'], row['additional_info']);
        $('#edit_heat_modal').modal('toggle');
    };
});
</script>

<script>
 $(document).ready(function(){
     refresh_tournaments();
 });
</script>

{% endblock javascript %}



{% block modals %}
<!-- Edit heats modal -->
<div class="modal fade" id="edit_heat_modal">
    <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Edit Heat</h4>
          </div> <!-- /.modal-header -->

          <div class="modal-body">


          <div class="well">
              <div class="form-horizontal">
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Heat name</label>
                      <div class="col-sm-10">
                          <input type="hidden" id="modal_heat_id">
                          <input type="text" id="modal_heat_name" name="heat_name" class="form-control" placeholder="Heat Name">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Date</label>
                      <div class="row">
                        <div class="col-sm-5">

			              <div class="input-group date" id="modal_date_picker" data-date="" data-date-format="dd.mm.yyyy">
				              <input class="form-control" id="modal_date_input" size="16" type="text" placeholder="Date start" readonly>
				              <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
			              </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group bootstrap-timepicker timepicker">
                                <input id="modal_time_picker" data-minute-step="15" data-show-meridian="false" class="form-control" type="text">
				              <span class="input-group-addon add-on"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label">Number of waves</label>
                      <div class="col-sm-10">

                          <div class="input-group">
                              <span class="input-group-btn">
                                  <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="nwaves">
                                      <span class="glyphicon glyphicon-minus"></span>
                                  </button>
                              </span>
                              <input type="text" id="modal_nwaves" name="nwaves" class="form-control input-number" placeholder="10" min="1" max="100" value = "10"">
                              <span class="input-group-btn">
                                  <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="nwaves">
                                      <span class="glyphicon glyphicon-plus"></span>
                                  </button>
                              </span>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label">Additional Info</label>
                      <div class="col-sm-10">
                        <input type="text" id ="modal_additional_info" name="modal_additional_info" class="form-control" placeholder="Additional Info">
                      </div>
                  </div>
              </div>
              <h4>Participating Surfers</h4>
              <table id="participants_table" class="table table-striped">
                  <thead>
                      <tr>
                          <th data-field="id">Surfer ID</th>
                          <th data-field="name">Surfer Name</th>
                          <th data-field="color">Surfer Color</th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
              <a href="#edit_participants_modal" class="btn btn-primary" data-toggle="modal"> Edit Participants</a>
          </div>

      </div><!-- /.modal-body -->


      <div class="modal-footer">
        <button id="modal_delete" class="btn btn-danger pull-left">Delete</button>
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="modal_submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Edit participants modal -->
<div class="modal fade" id="edit_participants_modal">
    <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Edit Participants</h4>
          </div> <!-- /.modal-header -->

          <div class="modal-body">
              <div class="well">

                  <!-- participants duallistbox -->
                  <div class="row">
                      <select multiple="multiple" size="10" name="participants" id="participants_select">
                      </select>
                  </div>
              </div>

          </div><!-- /.modal-body -->
          <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button id="participants_submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock modals %}

{% block modal_javascript %}
<!-- modal scripts -->

<script src="/static/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/static/plusminusinput/plusminusinput.js"></script>
<script src="/static/bootstrap_duallistbox/jquery.bootstrap-duallistbox.min.js"></script>

<script>
 // ***** MODAL internals *****
 $('#modal_submit').on('click', function(){
    var heat_id = $('#modal_heat_id').val();
    var heat_name = $('#modal_heat_name').val();
    var date = $('#modal_date_input').val();
    var start_time = $('#modal_time_picker').val();
    var number_of_waves = $('#modal_nwaves').val();
    if (number_of_waves==='')
         number_of_waves = 10;
    var additional_info = $('#modal_additional_info').val();
    var tournament_id = $('#tournaments_dropdown_select').data('select');
    var category_id = $('#categories_dropdown_select').data('select');


    if (heat_id == null && heat_name.length == 0) {
        alert('Empty field "Heat Name"');
        return
    };

    $.post('{{ mount_loc }}/do_edit_heat', {heat_id: heat_id, heat_name: heat_name, tournament_id: tournament_id, category_id: category_id, date: date, start_time: start_time, number_of_waves: number_of_waves, additional_info: additional_info});
    //$('#edit_heat_modal').modal('toggle');
    $('#heats_table').bootstrapTable('refresh', {url:'{{ mount_loc }}/do_get_heats', query: {category_id: category_id}});

     // push participants to server (here with colors)
     var surfer_ids = [];
     var surfer_colors = [];
     $('#participants_table select option:selected').each(function(){
         surfer_colors.push( $(this).val() );
         surfer_ids.push( $(this).parent().data('surfer_id') );
     });
     surfer_ids = JSON.stringify(surfer_ids);
     surfer_colors = JSON.stringify(surfer_colors);

     $.post('{{ mount_loc }}/do_set_participating_surfers', {heat_id: heat_id, surfer_ids: surfer_ids, surfer_colors: surfer_colors});


  });

  $('#participants_submit').on('click', function(){
      // push participants to server (here yet without colors)
      var heat_id = $('#modal_heat_id').val();
      // select surfers
      var surfer_ids = []
      $('#bootstrap-duallistbox-selected-list_participants option').each(function(){
          surfer_ids.push( parseInt(this.value) );
      });
      surfer_ids = JSON.stringify(surfer_ids);
      $.post('{{ mount_loc }}/do_set_participating_surfers', {heat_id: heat_id, surfer_ids: surfer_ids});
      refresh_participants(heat_id);
  });

 $('#modal_delete').on('click', function(){
     var tournament_id = $('#tournaments_dropdown_select').data('select');
     var category_id = $('#categories_dropdown_select').data('select');
     var heat_id = $('#modal_heat_id').val();

     $.post('{{ mount_loc }}/do_delete_heat', {id: heat_id});
     $('#edit_heat_modal').modal('toggle');
     $('#heats_table').bootstrapTable('refresh', {url:'{{ mount_loc }}/do_get_heats', query: {category_id: category_id}});
 });

</script>


<!-- enable datepickers in modal window -->
<script>
 // ***** DATEPICKER *****

$('#modal_date_picker').datepicker({weekStart: 1})
  .on('changeDate', function(ev){
    $('#modal_date_picker').datepicker('hide');
  });
$('#modal_time_picker').timepicker();

</script>

<script>
    var participants_dlb = $('#participants_select').bootstrapDualListbox(
    {nonSelectedListLabel: 'Unselected surfers',
    selectedListLabel: 'Selected surfers'}
    );

</script>


{% endblock modal_javascript %}
