<!-- TODO 
    Define Jinja Variables:
        judge_ids: This variable contains the ids of the judges registered for the current heat
-->
{% block content %}
<div class="container-fluid" >
    {% for judge_id in judge_ids %} 
        <table class="table">
            <tr>
                <td><b>Judge: {{judge_id}}</b></td>
                {% for wave_idx in range( number_of_waves ) %}
                    <td align="center">
                        <b>{{ loop.index }}</b>
                    </td>
                {% endfor %}
            </tr>

        {% for surfer_color in surfer_color_names %}
            <tr>
                <td>
                    <button class="btn btn-default btn-lg btn-block" style="background-color: {{ surfer_color_colors[surfer_color] }}; border-color: #000000"><b>{{ surfer_color }}</b></button>
                </td>
                {% for wave_idx in range( number_of_waves ) %}
                <td>
                    <div class="form-inline">
                        <div class="input-group input-group-lg">
                            <!--<input class="form-control"  type="text" id="{judge_id: u'{{judge_id}}', 'surfer_color': u'{{ surfer_color }}' wave_number: {{wave_idx}}}" readonly /> -->
                            <input class="form-control"  type="text"  data-judge_id="{{judge_id}}" data-surfer_id="{{surfer_color}}" data-wave="{{wave-idx}}"/>
                        </div>
                    </div>
                </td>
                {% endfor %}

            </tr>
        {% endfor %}
        </table>
    {% endfor %}
</div>
<br />
<div class="btn-toolbar" role="toolbar">
    <button class="btn btn-success btn-lg" style="width: 18%; height: 50px" onclick="enter_score();">Print Judge Sheets</button>
    <button class="btn btn-success btn-lg" style="width: 18%; height: 50px" onclick="enter_score();">Print averaged Scores</button>
    <button class="btn btn-success btn-lg" style="width: 18%; height: 50px" onclick="enter_score();">Print best Waves</button>
</div>
{% endblock content %}
