{% extends "base_template.html" %}


{% block nav_items %}['#nav_item_headjudge']{% endblock nav_items %}

{% block title %}Heat Overview{% endblock title %}

{% block css %}
{{ super() }}



<link href="/static/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="/static/bootstrap_duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet">

<style>
.datepicker{z-index:1151 !important;}
.timepicker{z-index:1151 !important;}
.scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
 }
 .carousel-control {
     height: 100px;
    z-index: 10;
    width: 50px; // no more gray thing
 }
 .carousel-control.left,
 .carousel-control.right { background: none }
 .carousel-control.left { left: -50px; }
 .carousel-control.right { right: -50px; }

</style>
{% endblock css %}


{% block content %}
<div class="container-fluid">
    <div class="dropdown select_dropdown" data-url="/tournament_admin/do_get_tournaments">
        <button class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown_label">Tournament</span>&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu scrollable-menu" role="menu">
        </ul>
    </div>
    <br>

    <div id="data_section"  style="display:none">
        <div class="heat_order_list">
        </div>

        <div id="heat_overview_carousel" class="carousel slide" data-ride="carousel" data-interval=false data-wrap=false>
            <a class="left carousel-control" href="#heat_overview_carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" style="color: black" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <div class="jumbotron">
                <div class="carousel-inner" role="listbox">
                </div>
            </div>
            <a class="right carousel-control" href="#heat_overview_carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" style="color: black" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><!-- /.carousel -->

    </div>
</div>
    {% endblock content %}

    {% block javascript %}
{{ super() }}
<script src="/static/surfjudge/js/select_dropdown.js"></script>
<script src="/static/surfjudge/js/judging_requests_table.js"></script>
<script src="/static/surfjudge/js/heat.js"></script>

<script>

 $('.select_dropdown').select_dropdown({'action_callback': function(val){
     $('#data_section').show();
     refresh_data_section(val);
 }
 });
</script>

<script>

 function refresh_data_section(tournament_id){
     heat_order = [];
     heat_order_names = [];
     current_heat_order_idx = -1;
     var ho_jqxhr = $.getJSON('/tournament_admin/do_get_heat_order', {tournament_id: tournament_id});

     var chid_jqxhr = $.get('/tournament_admin/do_get_current_heat_id', {tournament_id:tournament_id});
     $.when(ho_jqxhr, chid_jqxhr).done(function(ev_heat_order, ev_current_heat_id){
         var heat_order_info = ev_heat_order[0];
         heat_order = [];
         heat_order_names = [];
         for (var idx=0; idx<heat_order_info.length; idx++){
             heat_order.push(heat_order_info[idx]['id']);
             heat_order_names.push(heat_order_info[idx]['name']);
         }
         var current_heat_id = parseInt(ev_current_heat_id[0]);
         current_heat_order_idx = heat_order.indexOf(current_heat_id);
         if (current_heat_order_idx < 0){
             console.log('current heat_id ' + current_heat_id + ' not in heat_order ' + heat_order);
             return;
         }
         set_heat_overview_panel(current_heat_id);
     });
 }

 function add_heat_overview_panels(heat_ids, prepend, activate_hid){
     var deferreds = [];
     console.log('adding ' + heat_ids);
     for (var idx in heat_ids){
         deferreds.push($.get('/headjudge/do_get_heat_overview_panel', {heat_id: heat_ids[idx]}));
     }
     var panels = [];
     var jqxhr = $.when.apply($, deferreds);
     jqxhr.done(function(){
         // careful: if deferreds contains only one element, then arguments is not a list of result objects but only one result object
         var ev_data = [];
         if (heat_ids.length==1)
             ev_data = [arguments];
         else
             ev_data = arguments;
         for (var idx=0; idx<ev_data.length; idx++){

             var item = $('<div class="item"></div>');
             if (heat_ids[idx] == activate_hid)
                 item.addClass('active');
             $(ev_data[idx][0]).appendTo(item);
             if (prepend)
                 $(item).prependTo($('#heat_overview_carousel .carousel-inner'));
             else
                 $(item).appendTo($('#heat_overview_carousel .carousel-inner'));
         }
         //if (activate_hid != null){
         //    refresh(activate_hid);
         //}
     });
     return jqxhr;
 }

 function set_heat_order_list(heat_id){
     var hol = $('.heat_order_list');
     hol.empty();
     var txt = '';
     for (var idx=0; idx<heat_order.length; idx++){
         var elem = $('<button class="btn btn-lg" onclick="set_heat_overview_panel(' + heat_order[idx] + ')">').text(heat_order_names[idx]);
         if (heat_order[idx] == heat_id)
             elem.addClass("btn-success");
         else
             elem.addClass('btn-default');

         hol.append(elem);
         //txt += heat_order[idx] + ' ';
     }
     //hol.text(txt);
 }

 function set_heat_overview_panel(heat_id){
     $('#heat_overview_carousel .carousel-inner').empty();
     var idx = heat_order.indexOf(heat_id);
     var heat_ids = [];
     if (idx > 0)
         heat_ids.push(idx-1);
     heat_ids.push(idx);
     if (idx < heat_order.length -1)
         heat_ids.push(idx+1);
     add_heat_overview_panels(heat_ids, false, heat_id).done(function(){
         current_heat_order_idx = idx;
         refresh(heat_id);
         set_heat_order_list(heat_id);
     });
 }


 function shift_heat_overview_panels_back(){
     console.log('shifting back');
     var elem = null;
     var new_heat_order_idx = -1;
     if (current_heat_order_idx > 0){
         elem = $('#heat_overview_carousel .carousel-inner').children().last();
         new_heat_order_idx = current_heat_order_idx - 1;
     }
     else {
         console.log('reached end of heat_order');
         return;
     }

     if (current_heat_order_idx < heat_order.length -1)
         elem.remove();

     if (current_heat_order_idx > 1){
         add_heat_overview_panels([heat_order[new_heat_order_idx-1]], true).done(function(){
             current_heat_order_idx = new_heat_order_idx;
         });
     }
     else {
         console.log('current heat was second in order -> not loading new one');
         current_heat_order_idx = new_heat_order_idx;
     }
 }

 function shift_heat_overview_panels_forward(){
     console.log('shifting forward');
     var elem = null;
     var new_heat_order_idx = -1;
     if (current_heat_order_idx < heat_order.length - 1) {
         elem = $('#heat_overview_carousel .carousel-inner').children().first();
         new_heat_order_idx = current_heat_order_idx + 1;
     }
     else {
         console.log('reached end of heat_order');
         return;
     }
     if (current_heat_order_idx > 0)
         elem.remove();
     if (current_heat_order_idx < heat_order.length - 2){
         add_heat_overview_panels([heat_order[new_heat_order_idx+1]]).done(function(){
             current_heat_order_idx = new_heat_order_idx;
         });
     }
     else {
         console.log('was last but first -> not loading new one');
         current_heat_order_idx = new_heat_order_idx;
     }
 }

 $('#heat_overview_carousel .carousel-control.left').on('click', function(){
     shift_heat_overview_panels_back();
 });

 $('#heat_overview_carousel .carousel-control.right').on('click', function(){
     shift_heat_overview_panels_forward();
 });

 $('#heat_overview_carousel').bind('slid.bs.carousel', function (e) {
     var heat_id = $('#heat_overview_carousel .active .container-fluid').data('heat_id');
     refresh(heat_id); // is defined in heat_overview_panel.html
     set_heat_order_list(heat_id);
 });
 $('#heat_overview_carousel').bind('slide.bs.carousel', function (e) {
     var previous_heat_id = $('#heat_overview_carousel .active .container-fluid').data('heat_id');
     $('#heat_overview_' + previous_heat_id).heat('upload_data').done(function(){
         $('#heat_overview_' + previous_heat_id).heat('destroy');
         $('#heat_overview_' + previous_heat_id).judging_requests('destroy');
     });
});

</script>


{% endblock javascript%}

{% block modals %}

<!-- Edit participants modal -->
<div id="add_participant_modal" class="modal fade add_participant_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Participants</h4>
            </div> <!-- /.modal-header -->

            <div class="modal-body">
                <div class="well">

                    <div class="row">
                        <table class="table table-striped surfers_table"
                               data-toggle="table"
                               data-sort-name="name"
                               date-sort-order="asc"
                               data-search=true
                               data-height="300">
                            <thead>
                                <tr>
                                    <th data-field="name">Surfer Name</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div><!-- /.modal-body -->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary participant_submit" data-dismiss="modal">Save changes</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock modals %}
