{% extends "base_template.html" %}


{% block nav_items %}['#nav_item_headjudge']{% endblock nav_items %}

{% block title %}Heat Overview{% endblock title %}

{% block css %}
{{ super() }}



<link href="/static/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="/static/bootstrap_duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet">

<style>
.datepicker{z-index:1151 !important;}
.timepicker{z-index:1151 !important;}
.scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
 }
 .carousel-control {
     height: 100px;
    z-index: 10;
    width: 50px; // no more gray thing
 }
 .carousel-control.left,
 .carousel-control.right { background: none }
 .carousel-control.left { left: -50px; }
 .carousel-control.right { right: -50px; }

</style>
{% endblock css %}


{% block content %}
<div class="container-fluid">

    <div id="heat_overview_carousel" class="carousel slide" data-ride="carousel" data-interval=false data-wrap=false>
        <a class="left carousel-control" href="#heat_overview_carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" style="color: black" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <div class="jumbotron">
            <div class="carousel-inner" role="listbox">
            </div>
        </div>
        <a class="right carousel-control" href="#heat_overview_carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" style="color: black" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->

</div>
{% endblock content %}

{% block javascript %}
{{ super() }}

<script src="/static/surfjudge/js/judging_requests_table.js"></script>
<script src="/static/surfjudge/js/heat.js"></script>


<script>
 function append_heat_overview_panels(heat_ids, initialize){
     var deferreds = [];
     for (heat_id in heat_ids){
         deferreds.push($.get('/headjudge/do_get_heat_overview_panel', {heat_id: heat_ids[heat_id]}));
     }
     $.when.apply($, deferreds).done(function(){
         // careful: if deferreds contains only one element, then arguments is not a list of result objects but only one result object
         var ev_data = [];
         if (heat_ids.length==1)
             ev_data = [arguments];
         else
             ev_data = arguments;
         for (var idx=0; idx<ev_data.length; idx++){

             var item = $('<div class="item"></div>');
             $(ev_data[idx][0]).appendTo(item);
             $(item).appendTo($('#heat_overview_carousel .carousel-inner'));

         }
         if (initialize){
             var elem = $('#heat_overview_carousel .carousel-inner').children().first();
             elem.addClass('active');
             var heat_id = elem.find('.container-fluid').data('heat_id');
             refresh(heat_id); // is defined in heat_overview_panel.html
         }

     });
 }

 future_heat_order = [];
 past_heat_order = [];
 init_n_loaded_panels = 2;
 $(document).ready(function(){
     $.getJSON('/tournament_admin/do_get_heat_order', {tournament_id: 0}, function(heat_order){
         future_heat_order = heat_order;
         var len = heat_order.length;
         var new_panel_ids = [];
         for (var idx=0; idx<Math.min(len, init_n_loaded_panels); idx++){
             var heat_id = future_heat_order.shift();
             new_panel_ids.push(heat_id);
             past_heat_order.push(heat_id);
         }
         append_heat_overview_panels(new_panel_ids, true);
     });
 });



 $('#heat_overview_carousel .carousel-control.left').on('click', function(){

 });

 $('#heat_overview_carousel .carousel-control.right').on('click', function(){
     if ($('#heat_overview_carousel .carousel-inner .item.active').is('#heat_overview_carousel .carousel-inner :nth-last-child(2)')
     | $('#heat_overview_carousel .carousel-inner .item.active').is('#heat_overview_carousel .carousel-inner :last-child')){
         if (future_heat_order.length > 0){
             var heat_id = future_heat_order.shift();
             append_heat_overview_panels([heat_id], false);
             past_heat_order.push(heat_id);
         }
     }
 });

 $('#heat_overview_carousel').bind('slid.bs.carousel', function (e) {
     var heat_id = $('#heat_overview_carousel .active .container-fluid').data('heat_id');
     refresh(heat_id); // is defined in heat_overview_panel.html
 });
 $('#heat_overview_carousel').bind('slide.bs.carousel', function (e) {
     var previous_heat_id = $('#heat_overview_carousel .active .container-fluid').data('heat_id');
     $('#heat_overview_' + previous_heat_id).heat('upload_data').done(function(){
         $('#heat_overview_' + previous_heat_id).heat('destroy');
         $('#heat_overview_' + previous_heat_id).judging_requests('destroy');
     });
});

</script>


{% endblock javascript%}

{% block modals %}

<!-- Edit participants modal -->
<div id="add_participant_modal" class="modal fade add_participant_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Participants</h4>
            </div> <!-- /.modal-header -->

            <div class="modal-body">
                <div class="well">

                    <div class="row">
                        <table class="table table-striped surfers_table"
                               data-toggle="table"
                               data-sort-name="name"
                               date-sort-order="asc"
                               data-search=true
                               data-height="300">
                            <thead>
                                <tr>
                                    <th data-field="name">Surfer Name</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div><!-- /.modal-body -->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary participant_submit" data-dismiss="modal">Save changes</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock modals %}
