<ul class="nav nav-sidebar">
    <li id="sidebar_item_edit_tournaments"><a href="{{ mount_loc }}/tournaments">Edit Tournaments<span class="sr-only">(current)</span></a></li>
    <li id="sidebar_item_edit_categories"><a href="{{ mount_loc }}/categories">Edit Categories<span class="sr-only">(current)</span></a></li>
    <li id="sidebar_item_edit_heats"><a href="{{ mount_loc }}/heats">Edit Heats<span class="sr-only">(current)</span></a></li>
    <li id="sidebar_item_edit_judge_activities"><a href="{{ mount_loc }}/edit_judge_activities">Edit Judge Activities<span class="sr-only">(current)</span></a></li>
</ul>
<ul class="nav nav-sidebar">
    <li id="sidebar_item_edit_surfers"><a href="{{ mount_loc }}/surfers">Edit Surfers<span class="sr-only">(current)</span></a></li>
    <li id="sidebar_item_edit_judges"><a href="{{ mount_loc }}/judges">Edit Judges<span class="sr-only">(current)</span></a></li>
</ul>
