{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_headjudge']{% endblock nav_items %}

{% block title %}Start/Stop Heats{% endblock title %}


{% block content %}


<div id="tournaments_select_dropdown" class="dropdown" data-url="/tournament_admin/do_get_tournaments" data-update_label=false data-remove_selected=true>
    <div class="btn-group">
        <button id="dropdown_label" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown_label">Add tournament</span>&nbsp;<span class="caret"></span>
        </button>

        <br><br>

        <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdown_label">
        </ul>
    </div>
</div>



<div id="activity_panels" class="container-fluid">
</div>

{% endblock content %}


{% block javascript %}
{{ super() }}
<script src="/static/surfjudge/js/select_dropdown.js"></script>


<script>
 $(document).ready(function(){
     $.getJSON('/do_get_all_active_heats', function(active_heats){
         var tournaments = new Set();
         for (var idx=0; idx<active_heats.length; idx++){
             tournaments.add(active_heats[idx]['tournament_id']);
         }
         for (tournament_id of tournaments)
             add_panel(tournament_id);
         $('#tournaments_select_dropdown').select_dropdown({'action_callback': on_tournament_select, 'remove_elements': function(elem){return tournaments.has(elem['id']);}});
     });
 });

</script>

<script>
  // ***** DROPDOWN *****

 function on_tournament_select(selected_value){
     add_panel(selected_value);
 }

 function add_panel(tournament_id){
     $.get('{{ mount_loc }}/get_heat_activation_panel', {tournament_id: tournament_id}, function(data){
         $('#activity_panels').append(data);
         //$('#tournaments_dropdown_list .dropdown_'+tournament_id).remove();
         refresh_activity();
     });
 }

 function refresh_activity(){
     $.getJSON('/do_get_all_active_heats', function(active_heats){
         $('.heat_activity_btn').each(function(elem){
             visualize_inactive($(elem));
         });

         for (heat of active_heats){
             visualize_active($('#heat_activity_btn_'+heat['heat_id']));
         }
     });
 }
</script>

<script>

 function visualize_active(elem){
     elem.addClass('btn-success');
     elem.removeClass('btn-default');
     elem.data('status', 'active');
 }

 function visualize_inactive(elem){
     elem.addClass('btn-default');
     elem.removeClass('btn-success');
     elem.data('status', 'inactive');
 }


 function activate(elem){
     var jqxhr = $.post('/headjudge/do_activate_heat', {heat_id: elem.data('heat_id')});
     console.log(elem.data());
     jqxhr.success(function(){
         visualize_active(elem);
     });
     return jqxhr;
 };
 function deactivate(elem){
     var jqxhr = $.post('/headjudge/do_deactivate_heat', {heat_id: elem.data('heat_id')});
     jqxhr.success(function(){
         visualize_inactive(elem);
     });
     return jqxhr;
 };

 $('#activity_panels').on('click', '.heat_activity_btn', function(e){
     if ($(this).data('status') === 'inactive')
         activate($(this));
     else
         deactivate($(this));
 });
</script>

{% endblock javascript %}
