{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_edit_scores']{% endblock nav_items %}

{% block title %}Edit Scores{% endblock title %}


{% block css %}
{{ super()}}
<style type="text/css">
.main_panel
{
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	padding:20px;
}

.number_button
{
	width:70px;
	height:70px;
	margin:10px;
	float:left;
	background-color:#AAAAAA;

	font-size:36px;
	text-align:center;
}

.text_box_inactive
{
	width:50px;
	height:30px;
	font-size:24px;
	text-align:right;
}

.enter_wave
{
	width:100px;
	height:30px;
	font-size:14px;
	text-align:left;
	background-color:#AAAAAA;
	border-style: solid;
    border-width: 0px;
}

.cancel_button
{
	width:140px;
	height:70px;
	margin:10px;
	float:left;
	background-color:#AAAAAA;

	font-size:25px;
	text-align:center;
}

.enter_button
{
	width:140px;
	height:70px;
	margin:10px;
	float:left;
	background-color:#AAAAAA;

	font-size:25px;
	text-align:center;
}
</style>
{% endblock css %}




{% block javascript %}

{{ super() }}
<script src="/static/surfjudge/js/select_dropdown.js"></script>

<script type="text/javascript">
var MISSED = -1;
var INTERFERENCE = -2;
//Variables that need to be defined by Contest Operators*****

 function activate_panel(heat_id){
    $.getJSON('/do_query_scores', {heat_id: heat_id, get_for_all_judges: 1},  function(server_data){
        for (judge_id in server_data)
        {
            for (var color in server_data[judge_id])
            {
                for (var wave_index=0; wave_index < server_data[judge_id][color].length; wave_index++)
                {
                    $('#'+ judge_id + '_' + color + '_' + wave_index).val(server_data[judge_id][color][wave_index]);
                    $('#'+ judge_id + '_' + color + '_' + wave_index).data('orig_val', server_data[judge_id][color][wave_index])
                    $('#'+ judge_id + '_' + color + '_' + wave_index).removeClass('unscored');
                    $('#'+ judge_id + '_' + color + '_' + wave_index).addClass('scored');
                }
            }
        }
        $('.scored').prop('readonly', false);
    });
 }

$('.data-section').on('keyup', '.scored', function (e) {
    if (e.keyCode == 13) {
        enter_score(this.id);
        // Do something
    } else if (e.keyCode == 27) {
        $(this).blur();
    }
});
$('.data-section').on('focusout', '.scored', function (e) {
    $(this).val($(this).data('orig_val'));
    if ($(this).hasClass('unscored')){
        $(this).removeClass('scored');
        $(this).prop('readonly', true);
    } else {
        $(this).prop('readonly', false);
    }
});

$('.data-section').on('click', '.unscored', function (e) {
    var prev_wave = $(this).data('wave') - 1;
    var judge_id = $(this).data('judge');
    var surfer = $(this).data('surfer');
    if (prev_wave < 0 || $('#'+judge_id + '_' + surfer + '_' + prev_wave).hasClass('scored')){
        $(this).addClass('scored');
        $(this).prop('readonly', false);
    }
});


function enter_score(elem_id)
{
    var elem = $('#'+elem_id);
    var heat_id = $('#heat_panel').data('heat');
    var judge_id = $(elem).data('judge');
    var surfer_color = $(elem).data('surfer');
    var wave_idx = $(elem).data('wave');
    var score = parseFloat($('#'+ judge_id + '_' + surfer_color + '_' + wave_idx).val());
    if ((score >= 0 && score <= 10) || score == -1){
        score_data = {color: surfer_color, wave: wave_idx, score: score};
        $.get('/do_modify_score', {heat_id: heat_id, judge_id: judge_id, score: JSON.stringify(score_data)}, function(data){
            alert('Score updated: ' + elem.data('orig_val') + ' -> ' + score);
            elem.data('orig_val', score);
            elem.addClass('scored');
            elem.removeClass('unscored');
            elem.blur();
        });
    } else if (isNaN(score)){
        var next_wave = $(elem).data('wave') + 1;
        var judge_id = $(elem).data('judge');
        var surfer = $(elem).data('surfer');

        if (next_wave >= $('#heat_panel').data('waves') || !( $('#'+judge_id + '_' + surfer + '_' + next_wave).hasClass('scored') )){
            del_score_data = {color: surfer_color, wave: wave_idx};
            $.get('do_delete_score', {heat_id: heat_id, judge_id: judge_id, score: JSON.stringify(del_score_data)}, function(data){
                alert('Deleted score '+ elem.data('orig_val'));
                elem.addClass('unscored');
                elem.data('orig_val', null);
                elem.val('');
                $(elem).removeClass('scored');
                $(elem).prop('readonly', true);
                elem.blur();
            });
        } else {
            alert('Can only delete scores at the end of the list');
        }

    } else {
        alert('Only numbers between 0 and 10 or -1 for missed.');
    }
 }
</script>



<script>
 $(document).ready(function(){
     $('#tournaments_select_dropdown').select_dropdown({'action_callback': on_tournament_select});

     $('#categories_select_dropdown').select_dropdown({'requires_payload': true, 'action_callback': on_category_select});

     $('#heats_select_dropdown').select_dropdown({'requires_payload': true, 'action_callback': on_heat_select});
    });
</script>

<script>
 // ***** DROPDOWN *****
 function on_tournament_select(selected_value){
     $('#categories_select_dropdown').select_dropdown('refresh_from_server', {'tournament_id': selected_value});
     $('.data-section').hide();
 }

 function on_category_select(selected_value){
     $('#heats_select_dropdown').select_dropdown('refresh_from_server', {'category_id': selected_value});
     $('.data-section').hide();
 }

 function on_heat_select(selected_value){
     activate_data_section(selected_value);
 }
</script>

<script>
// load panel div from server and include in page
function activate_data_section(heat_id)
 {
     $('.data-section').empty();
     if (heat_id >= 0){
         $.get('do_get_editor_panel', {heat_id: heat_id}, function(panel){
             $('.data-section').append(panel);
             $('.data-section').show();
             activate_panel(heat_id);
         });
     }
}
</script>

<script>
// Exporting scores
 function export_scores(heat_id){
     window.location.replace('/export_scores?heat_id='+heat_id);
    //$.fileDownload('/export_scores', {heat_id: heat_id, mode: mode});
    //$.get('/export_scores', {heat_id: heat_id, mode: mode});
    }

 function publish_results(heat_id){
     $.get('/headjudge/do_publish_results?heat_id='+heat_id, function(){
         alert('Published Results for Heat '+heat_id);
     });
     }
</script>
{% endblock javascript %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <div id="tournaments_select_dropdown" class="dropdown" data-url="/tournament_admin/do_get_tournaments">
                <div class="btn-group">
                <button class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="dropdown_label">Tournament</span>&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div id="categories_select_dropdown" class="dropdown" data-url="/tournament_admin/do_get_categories">
                <div class="btn-group">
                <button class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="dropdown_label">Category</span>&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div id="heats_select_dropdown" class="dropdown" data-url="/tournament_admin/do_get_heats">
                <div class="btn-group">
                <button class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="dropdown_label">Heat</span>&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid data-section" data-status="inactive">
    </div>
</div>
{% endblock content %}
